<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
	<!-- DAO -->
	<bean id="emDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.emo.model.dao.EmDAOImpl">
	</bean>
	
	<!-- Task BL -->
	<bean id="emBL" class="com.deliverik.infogovernor.emo.bl.task.EmBLImpl">
		<property name="emDAO">
			<ref bean="emDAO"/>
		</property>
	</bean>
	
	<!-- ctrl BL -->
	<bean id="igemo01BL" class="com.deliverik.infogovernor.emo.bl.IGEMO01BLImpl">
		<property name="emBL">
			<ref bean="emBL"/>
		</property>
		        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
	</bean>
</beans>