<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
	<!-- DAO -->
	<bean id="knowledgeDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowledgeDAOImpl">
	</bean>
	
	<bean id="knowledgeGradeDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowledgeGradeDAOImpl">
	</bean>
	
	<bean id="knowledgeProcessDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowledgeProcessDAOImpl">
	</bean>

	<bean id="knowLedgeInfoDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowLedgeInfoDAOImpl">
	</bean>
	
	<bean id="knowledgeAppImpactDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowledgeAppImpactDAOImpl">
	</bean>
	
    <bean id="knowledgeVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowledgeVWDAOImpl">
	</bean>
	
	<bean id="knowLogDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowLogDAOImpl">
	</bean>
	
	<bean id="knowLedgeStatisticsDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.kgm.model.dao.KnowLedgeStatisticsDAOImpl">
	</bean>
	
	
	<!-- Task BL -->
	
	<bean id="knowledgeBL" class="com.deliverik.infogovernor.kgm.bl.task.KnowledgeBLImpl">
		<property name="knowledgeDAO">
			<ref bean="knowledgeDAO"/>
		</property>
		<property name="knowledgeVWDAO">
			<ref bean="knowledgeVWDAO"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
	</bean>
	
	<bean id="knowledgeGradeBL" class="com.deliverik.infogovernor.kgm.bl.task.KnowledgeGradeBLImpl">
		<property name="knowledgeGradeDAO">
			<ref bean="knowledgeGradeDAO"/>
		</property>
	</bean>
	
	<bean id="knowledgeProcessBL" class="com.deliverik.infogovernor.kgm.bl.task.KnowledgeProcessBLImpl">
		<property name="knowledgeProcessDAO">
			<ref bean="knowledgeProcessDAO"/>
		</property>
	</bean>

	<bean id="knowLedgeInfoBL" class="com.deliverik.infogovernor.kgm.bl.task.KnowLedgeInfoBLImpl">
		<property name="knowLedgeInfoDAO">
			<ref bean="knowLedgeInfoDAO"/>
		</property>
	</bean>
	<bean id="knowledgeAppImpactBL" class="com.deliverik.infogovernor.kgm.bl.task.KnowledgeAppImpactBLImpl">
		<property name="knowledgeAppImpactDAO">
			<ref bean="knowledgeAppImpactDAO"/>
		</property>
	</bean>
	
	<bean id="knowLogBL" class="com.deliverik.infogovernor.kgm.bl.task.KnowLogBLImpl">
		<property name="knowLogDAO">
			<ref bean="knowLogDAO"/>
		</property>
	</bean>
	
	<bean id="knowledgeStatisticsBL" class="com.deliverik.infogovernor.kgm.bl.task.KnowledgeStatisticsBLImpl">
		<property name="knowLedgeStatisticsDAO">
			<ref bean="knowLedgeStatisticsDAO"/>
		</property>
	</bean>

	
	<!-- Control BL -->
	
	<bean id="igkgm02BL" class="com.deliverik.infogovernor.kgm.bl.IGKGM02BLImpl">
		<property name="knowLedgeInfoBL">
			<ref bean="knowLedgeInfoBL"/>
		</property>
		<property name="knowledgeBL">
			<ref bean="knowledgeBL"/>
		</property>
		<property name="knowledgeProcessBL">
			<ref bean="knowledgeProcessBL"/>
		</property>
		<property name="knowledgeGradeBL">
			<ref bean="knowledgeGradeBL"/>
		</property>
		<property name="fileUploadBL">
			<ref bean="fileUploadBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
		<property name="knowledgeAppImpactBL">
			<ref bean="knowledgeAppImpactBL"/>
		</property>
		<property name="codeListUtils">
			<ref bean="codeListUtils"/>
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL"/>
		</property>
		<property name="ig599BL">
			<ref bean="ig599BL"/>
		</property>
		<property name="roleBL">
			<ref bean="roleBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="knowLogBL">
			<ref bean="knowLogBL"/>
		</property>
		<property name="knowledgeStatisticsBL">
			<ref bean="knowledgeStatisticsBL"/>
		</property>
		<property name="codeDetailDefBL">
			<ref bean="codeDetailDefBL"/>
		</property>
	</bean>
	

</beans>

    

