<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- DAO -->
	<bean id="projectTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.ProjectTBDAOImpl">
	</bean>
	
	<bean id="projectLogTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.ProjectLogTBDAOImpl">
	</bean>
	
	<bean id="projectPlanTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.ProjectPlanTBDAOImpl">
	</bean>
	
	<bean id="projectLogContractDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.ProjectLogContractDAOImpl">
	</bean>
	
	<bean id="projectLogBusinessDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.ProjectLogBusinessDAOImpl">
	</bean>
	
	<bean id="projectBudgetRelationDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.ProjectBudgetRelationDAOImpl">
	</bean>
	<bean id="pbsummaryVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.PbsummaryVWDAOImpl">
	</bean>
	
	<bean id="investUseInfoDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.prj.model.dao.InvestUseInfoDAOImpl">
	</bean>
	
	<bean id="projectLogContractBL" class="com.deliverik.infogovernor.prj.bl.task.ProjectLogContractBLImpl">
		<property name="projectLogContractDAO">
			<ref bean="projectLogContractDAO" />
		</property>
	</bean>
	
	<bean id="projectLogBusinessBL" class="com.deliverik.infogovernor.prj.bl.task.ProjectLogBusinessBLImpl">
		<property name="projectLogBusinessDAO">
			<ref bean="projectLogBusinessDAO" />
		</property>
	</bean>
	
	<bean id="projectBL" class="com.deliverik.infogovernor.prj.bl.task.ProjectBLImpl">
		<property name="projectTBDAO">
			<ref bean="projectTBDAO" />
		</property>
	</bean>
	
	<bean id="projectLogBL" class="com.deliverik.infogovernor.prj.bl.task.ProjectLogBLImpl">
		<property name="projectLogTBDAO">
			<ref bean="projectLogTBDAO" />
		</property>
	</bean>
	
	<bean id="projectPlanBL" class="com.deliverik.infogovernor.prj.bl.task.ProjectPlanBLImpl">
		<property name="projectPlanTBDAO">
			<ref bean="projectPlanTBDAO" />
		</property>
	</bean>
	
	<bean id="projectBudgetRelationBL" class="com.deliverik.infogovernor.prj.bl.task.ProjectBudgetRelationBLImpl">
		<property name="projectBudgetRelationDAO">
			<ref bean="projectBudgetRelationDAO" />
		</property>
	</bean>
	
	<bean id="pbsummaryVWBL" class="com.deliverik.infogovernor.prj.bl.task.PbsummaryVWBLImpl">
		<property name="pbsummaryVWDAO">
			<ref bean="pbsummaryVWDAO" />
		</property>
	</bean>
	<bean id="investUseInfoBL" class="com.deliverik.infogovernor.prj.bl.task.InvestUseInfoBLImpl">
		<property name="investUseInfoDAO">
			<ref bean="investUseInfoDAO" />
		</property>
	</bean>
	
	<!-- Control BL -->
	<bean id="igprj01BL" class="com.deliverik.infogovernor.prj.bl.IGPRJ01BLImpl">
		<property name="projectBL">
			<ref bean="projectBL"/>
		</property>
		<property name="projectLogBL">
			<ref bean="projectLogBL"/>
		</property>
        <property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="roleBL">
			<ref bean="roleBL"/>
		</property>
		<property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
			<ref bean="codeDetailBL"/>
		</property>
		<property name="projectLogContractBL">
			<ref bean="projectLogContractBL"/>
		</property>
		<property name="projectLogBusinessBL">
			<ref bean="projectLogBusinessBL"/>
		</property>
		<property name="budgetBL">
            <ref bean="budgetBL"/>
        </property>
        <property name="projectPlanBL">
            <ref bean="projectPlanBL"/>
        </property>
        <property name="pbsummaryVWBL">
            <ref bean="pbsummaryVWBL"/>
        </property>
        <property name="projectBudgetRelationBL">
            <ref bean="projectBudgetRelationBL"/>
        </property>
        <property name="investUseInfoBL">
            <ref bean="investUseInfoBL"/>
        </property>
	</bean>
	
	<bean id="igprj02BL" class="com.deliverik.infogovernor.prj.bl.IGPRJ02BLImpl">
		<property name="projectPlanBL">
			<ref bean="projectPlanBL"/>
		</property>
		<property name="projectLogBL">
			<ref bean="projectLogBL"/>
		</property>
		
		<property name="fileUploadBL">
			<ref bean="fileUploadBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
		
	</bean>
	

</beans>