<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- dao -->
	<bean id="workinfoDAO" parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.wki.model.dao.WorkinfoDAOImpl"></bean>
	<!-- task bl -->
	<bean id="workinfoBL" class="com.deliverik.infogovernor.wki.bl.task.WorkinfoBLImpl">
		<property name="workinfoDAO">
			<ref bean="workinfoDAO"/>
		</property>
	</bean>
	<!-- control bl -->
	<bean id="igwki01BL" class="com.deliverik.infogovernor.wki.bl.IGWKI01BLImpl">
		<property name="workinfoBL">
			<ref bean = "workinfoBL"/>
		</property>
	</bean>
</beans>
