<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">		
    <bean id="igzwj01BL" class="com.deliverik.infogovernor.zwj.bl.IGZWJ01BLImpl">
		<property name="userBL">
			<ref bean="userBL"/>
		</property>
		<property name="organizationBL">
			<ref bean="organizationBL"/>
		</property>
	</bean>
</beans>