<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!--朝阳银行自定义流程Begin  -->
	<bean id="igCYB0201BL" class="com.dev.cyb.igflow.event.button.IGCYB0201BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>	
	<bean id="igCYB0202BL" class="com.dev.cyb.igflow.event.button.IGCYB0202BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>	
	<bean id="igCYB0203BL" class="com.dev.cyb.igflow.event.button.IGCYB0203BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>	
	<bean id="igCYB0204BL" class="com.dev.cyb.igflow.event.button.IGCYB0204BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>	
</beans>