<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   <bean id="connectPoolManager" class="com.dev.crc.report.jdbc.connectpool.IGConnectPoolManagerImpl" init-method="init">
   </bean>
   <bean id="xmlFileManager" class="com.dev.crc.report.xml.XMLFileManagerImpl" init-method="init">
   </bean>
   
   <bean id="reportValueQueryDAO" class="com.dev.crc.report.jdbc.query.ReportValueQueryDAOImpl">
   		<property name="connectPoolManager">
   			<ref bean="connectPoolManager"/>
   		</property>
   		<property name="xmlFileManager">
   			<ref bean="xmlFileManager"/>
   		</property>
   </bean>
</beans>