<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
  <bean id="igzwj0101BL" class="com.dev.zwj.igflow.event.status.IGZWJ0101BLImpl">
  	<property name="flowSearchBL">
  		<ref bean="flowSearchBL"/>
  	</property>
  	<property name="flowSetBL">
  		<ref bean="flowSetBL"/>
  	</property>
  	<property name="sysManageBL">
  		<ref bean="sysManageBL"/>
  	</property>
  </bean>
  <bean id="igzwj0102BL" class="com.dev.zwj.igflow.event.status.IGZWJ0102BLImpl">
  	<property name="flowSearchBL">
  		<ref bean="flowSearchBL"/>
  	</property>
  	<property name="flowSetBL">
  		<ref bean="flowSetBL"/>
  	</property>
  	<property name="sysManageBL">
  		<ref bean="sysManageBL"/>
  	</property>
  </bean>
  <bean id="igzwj0103BL" class="com.dev.zwj.igflow.event.status.IGZWJ0103BLImpl">
  	<property name="flowSetBL">
  		<ref bean="flowSetBL"/>
  	</property>
  </bean>
</beans>