<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
   <!-- dao -->
   <bean id="igdwp0001DAO" class="com.deliverik.infogovernor.dwp.model.dao.IGDWP0001DAOImpl" parent="baseHibernateDAO">
   </bean>
   <bean id="igdwp0002DAO" class="com.deliverik.infogovernor.dwp.model.dao.IGDWP0002DAOImpl" parent="baseHibernateDAO">
   </bean>
   <bean id="igdwp0003DAO" class="com.deliverik.infogovernor.dwp.model.dao.IGDWP0003DAOImpl" parent="baseHibernateDAO">
   </bean>
   <bean id="igdwp0004DAO" class="com.deliverik.infogovernor.dwp.model.dao.IGDWP0004DAOImpl" parent="baseHibernateDAO">
   </bean>
   
   <!-- task -->
   <bean id="igdwp0001BL" class="com.deliverik.infogovernor.dwp.bl.task.IGDWP0001BLImpl">
   		<property name="igdwp0001DAO">
   			<ref bean="igdwp0001DAO"/>
   		</property>
   </bean>
   <bean id="igdwp0002BL" class="com.deliverik.infogovernor.dwp.bl.task.IGDWP0002BLImpl">
   		<property name="igdwp0002DAO">
   			<ref bean="igdwp0002DAO"/>
   		</property>
   </bean>
   <bean id="igdwp0003BL" class="com.deliverik.infogovernor.dwp.bl.task.IGDWP0003BLImpl">
   		<property name="igdwp0003DAO">
   			<ref bean="igdwp0003DAO"/>
   		</property>
   </bean>
   <bean id="igdwp0004BL" class="com.deliverik.infogovernor.dwp.bl.task.IGDWP0004BLImpl">
   		<property name="igdwp0004DAO">
   			<ref bean="igdwp0004DAO"/>
   		</property>
   </bean>
   
   <bean id="igdwp01BL" class="com.deliverik.infogovernor.dwp.bl.IGDWP01BLImpl">
   		<property name="igdwp0001BL">
   			<ref bean="igdwp0001BL"/>
   		</property>
   		<property name="igdwp0002BL">
   			<ref bean="igdwp0002BL"/>
   		</property>
   		<property name="igdwp0003BL">
   			<ref bean="igdwp0003BL"/>
   		</property>
   		<property name="igdwp0004BL">
   			<ref bean="igdwp0004BL"/>
   		</property>
   		<property name="workFlowDefinitionBL">
   			<ref bean="workFlowDefinitionBL"/>
   		</property>
   		<property name="workFlowOperationBL">
   			<ref bean="workFlowOperationBL"/>
   		</property>
   		<property name="sendMessageBL">
   			<ref bean="sendMessageBL"/>
   		</property>
   		<property name="userBL">
   			<ref bean="userBL"/>
   		</property>
   		<property name="roleBL">
   			<ref bean="roleBL"/>
   		</property>
   		<property name="flowOptBL">
   			<ref bean="flowOptBL"/>
   		</property>
   		<property name="flowSetBL">
   			<ref bean="flowSetBL"/>
   		</property>
   </bean>
   <!-- 工单号生成方法 -->
	<bean id="igPUBGENERATOR0101BL" class="com.dev.qlb.igflow.generator.serialnum.IGPUBGENERATOR0101BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>
	<bean id="igQL0101BL" class="com.dev.qlb.igflow.event.status.IGQL0101BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="sysManageBL">
			<ref bean="sysManageBL"/>
		</property>
	</bean>
	<bean id="igQL0102BL" class="com.dev.qlb.igflow.event.status.IGQL0102BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="sysManageBL">
			<ref bean="sysManageBL"/>
		</property>
	</bean>
	<bean id="igQLB0103BL" class="com.dev.qlb.igflow.event.status.IGQL0103BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igCRC0408BL" class="com.dev.qlb.igflow.event.status.IGCRC0408BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="riskCheckResultBL">
			<ref bean="riskCheckResultBL"/>
		</property>
	</bean>
	
	<bean id="igQLB0104BL" class="com.dev.qlb.igflow.event.status.IGQL0104BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
</beans>
