<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
   	<!-- DAO -->
   	<!-- 首页逻辑视图DAO -->
	<bean id="processInHandSingleVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.com.model.dao.ProcessInHandSingleVWDAOImpl">
	</bean>
	
	<bean id="soc0305DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.soc.mnt.model.dao.SOC0305DAO">
	</bean>
	
	
	<!-- BL -->
	<bean id="processInHandBL" class="com.deliverik.infogovernor.com.bl.task.ProcessInHandBLImpl">
		<property name="processInHandSingleVWDAO">
			<ref bean="processInHandSingleVWDAO"/>
		</property>
	</bean>
	<bean id="soc0305BL" class="com.deliverik.infogovernor.soc.mnt.bl.task.SOC0305DAOBLImpl">
		<property name="soc0305DAO">
			<ref bean="soc0305DAO"/>
		</property>
	</bean>
	
	<!-- Control BL -->
	<bean id="IGCOM01BL" class="com.deliverik.infogovernor.bl.IGCOM01BLImpl">
		<property name="userBL">
			<ref bean="userBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="processInHandBL">
			<ref bean="processInHandBL"/>
		</property>
		<property name="knowledgeBL">
			<ref bean="knowledgeBL"/>
		</property>
		<property name="noticeBL">
			<ref bean="noticeBL"/>
		</property>
		<property name="quartzJobsBL">
			<ref bean="quartzJobsBL"/>
		</property>
		<property name="userPermissionBL">
			<ref bean="userPermissionBL"/>
		</property>
		<property name="ig622BL">
			<ref bean="ig622BL"/>
		</property>
		<property name="crm06BL">
			<ref bean="crm06BL"/>
		</property>
		<property name="riskCheckResultBL">
			<ref bean="riskCheckResultBL"/>
		</property>
		<property name="workInstanceBL">
			<ref bean="workInstanceBL"/>
		</property>
	</bean>

    <!-- Control BL -->
    <bean id="igcom02BL" class="com.deliverik.infogovernor.bl.IGCOM02BLImpl">
        <property name="codeCategoryBL">
            <ref bean="codeCategoryBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="reportFileDefinitionBL">
            <ref bean="reportFileDefinitionBL"/>
        </property>
        <property name="roleReportBL">
            <ref bean="roleReportBL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="soc0305BL">
            <ref bean="soc0305BL"/>
        </property>
        <property name="knowledgeBL">
            <ref bean="knowledgeBL"/>
        </property>
    </bean>
    
    <bean id="igcom03BL" class="com.deliverik.infogovernor.bl.IGCOM03BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="codeCategoryBL">
            <ref bean="codeCategoryBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="socDomainGraphBL">
            <ref bean="socDomainGraphBL"/>
        </property>
        <property name="socImpactGraphBL">
            <ref bean="socImpactGraphBL"/>
        </property>
        <property name="igDomainGraphBL">
            <ref bean="igDomainGraphBL"/>
        </property>
         <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
         <property name="soc0130BL">
            <ref bean="soc0130BL"/>
        </property>
         <property name="soc0131BL">
            <ref bean="soc0131BL"/>
        </property>
        
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        
        <property name="soc0121BL">
            <ref bean="soc0121BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
    </bean>
 
	
    
    <bean id="igcom04BL" class="com.deliverik.infogovernor.bl.IGCOM04BLImpl">
		<property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
		<property name="ig259BL">
			<ref bean="ig259BL" />
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="ig933BL">
			<ref bean="ig933BL" />
		</property>
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL" />
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL" />
		</property>
		<property name="codeDetailBL">
			<ref bean="codeDetailBL" />
		</property>
		<property name="processInHandBL">
			<ref bean="processInHandBL" />
		</property>
    </bean>
    
    <bean id="igcom05BL" class="com.deliverik.infogovernor.bl.IGCOM05BLImpl"/>
    
    <bean id="sendMessageBL" class="com.deliverik.infogovernor.bl.SendMessageBLImpl">
		<property name="userBL">
			<ref bean="userBL" />
		</property>
		<property name="roleBL">
			<ref bean="roleBL" />
		</property>
		<property name="ccProxy">
			<ref bean="ccProxy" />
		</property>
	</bean>


	<bean id="igcom06BL" class="com.deliverik.infogovernor.bl.IGCOM06BLImpl">
		<property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
		<property name="ig259BL">
			<ref bean="ig259BL" />
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
    </bean>
    <bean id="sendMailBL" class="com.deliverik.infogovernor.bl.SendMailBLImpl" />
    <bean id="ccProxy" class="com.deliverik.infogovernor.broker.CCProxy" />
    
    <!-- SOC 2013/01/31 -->
	<bean id="igcom07BL" class="com.deliverik.infogovernor.bl.IGCOM07BLImpl">
		<property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
		<property name="userBL">
			<ref bean="userBL" />
		</property>
		<property name="ig259BL">
			<ref bean="ig259BL" />
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="ig933BL">
			<ref bean="ig933BL" />
		</property>
    </bean>
</beans>

