<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
   	<!-- DAO -->
	<!-- 服务商信息导出 -->
	<bean id="entityItemFacilitatorVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.asset.model.dao.EntityItemFacilitatorVWDAOImpl">
	</bean>
	<bean id="ig342DAO" 
		parent="baseHibernateDAO" 
		class="com.deliverik.infogovernor.asset.model.dao.IG342DAOImpl">
	</bean>
	<bean id="ig343DAO"
		parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.asset.model.dao.IG343DAOImpl">
	</bean>
	<bean id="ig344DAO"
		parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.asset.model.dao.IG344DAOImpl">
	</bean>
	<bean id="igdocdownDAO"
		parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.asset.model.dao.IgdocdownDAOImpl">
	</bean>
	<bean id="riskcaseVWDAO"
		parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.asset.model.dao.RiskcaseVWDAOImpl">
	</bean>
    
	<!-- TaskBL -->
	<!-- 服务商信息导出 -->
	<bean id="entityItemFacilitatorVWBL" class="com.deliverik.infogovernor.asset.bl.task.EntityItemFacilitatorVWBLImpl">
		<property name="entityItemFacilitatorVWDAO">
			<ref bean="entityItemFacilitatorVWDAO" />
		</property>
	</bean>
	<bean id="igdocdownBL" class="com.deliverik.infogovernor.asset.bl.task.IgdocdownBLImpl">
		<property name="igdocdownDAO">
			<ref bean="igdocdownDAO" />
		</property>
	</bean>
	
    <!-- 合同付款登记管理BL -->
    <bean id="igasm0420excelBL" class="com.deliverik.infogovernor.asset.bl.IGASM0420ExcelBLImpl">
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
    </bean>
    <!-- 服务商信息管理BL -->
    <bean id="igasm0901excelBL" class="com.deliverik.infogovernor.asset.bl.IGASM0901ExcelBLImpl">
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
    </bean>
	<bean id="ig342BL" class="com.deliverik.infogovernor.asset.bl.task.IG342BLImpl">
		<property name="ig342DAO">
			<ref bean="ig342DAO"/>
		</property>
	</bean>
	<bean id="ig343BL" class="com.deliverik.infogovernor.asset.bl.task.IG343BLImpl">
		<property name="ig343DAO">
			<ref bean="ig343DAO"/>
		</property>
	</bean>
	<bean id="ig344BL" class="com.deliverik.infogovernor.asset.bl.task.IG344BLImpl">
		<property name="ig344DAO">
			<ref bean="ig344DAO"/>
		</property>
	</bean>
	<bean id="riskcaseVWBL" class="com.deliverik.infogovernor.asset.bl.task.RiskcaseVWBLImpl">
		<property name="riskcaseVWDAO">
			<ref bean="riskcaseVWDAO"/>
		</property>
	</bean>
	
	<!-- Control BL -->
	<bean id="igasm01BL" class="com.deliverik.infogovernor.asset.bl.IGASM01BLImpl">
		<property name="soc0117BL">
			<ref bean="soc0117BL"/>
		</property>
		<property name="soc0109BL">
			<ref bean="soc0109BL"/>
		</property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="ig611BL">
            <ref bean="ig611BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
	</bean>

    <bean id="igasm02BL" class="com.deliverik.infogovernor.asset.bl.IGASM02BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
         <property name="ig225BL">
            <ref bean="ig225BL"/>
        </property>
         <property name="eiBelongRelationBL">
            <ref bean="eiBelongRelationBL"/>
        </property>
    </bean>

    <bean id="igasm03BL" class="com.deliverik.infogovernor.asset.bl.IGASM03BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
         <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
         <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
         <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
         <property name="soc0110BL">
            <ref bean="soc0110BL"/>
        </property>
         <property name="soc0126BL">
            <ref bean="soc0126BL"/>
        </property>
         <property name="soc0112BL">
            <ref bean="soc0112BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
         <property name="ig225BL">
            <ref bean="ig225BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="eiBelongRelationBL">
            <ref bean="eiBelongRelationBL"/>
        </property>
        
        <property name="ig912BL">
            <ref bean="ig912BL"/>
        </property>
        <property name="soc0601BL">
            <ref bean="soc0601BL"/>
        </property>
        <property name="soc0603BL">
            <ref bean="soc0603BL"/>
        </property>
    </bean>

    <bean id="igasm04BL" class="com.deliverik.infogovernor.asset.bl.IGASM04BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="codeListUtils">
            <ref bean="codeListUtils"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
         <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="ig499BL">
            <ref bean="ig499BL"/>
        </property>
    </bean>

    <bean id="igasm05BL" class="com.deliverik.infogovernor.asset.bl.IGASM05BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="igdocdownBL">
        	<ref bean="igdocdownBL"/>
        </property>
    </bean>
    <bean id="igasm24BL" class="com.deliverik.infogovernor.asset.bl.IGASM24BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="ig225BL">
            <ref bean="ig225BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="codeListUtils">
            <ref bean="codeListUtils"/>
        </property>
    </bean>

    <bean id="igasm06BL" class="com.deliverik.infogovernor.asset.bl.IGASM06BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
         <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="ig225BL">
            <ref bean="ig225BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
    </bean>

    <bean id="igasm07BL" class="com.deliverik.infogovernor.asset.bl.IGASM07BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
    </bean>

    <bean id="igasm08BL" class="com.deliverik.infogovernor.asset.bl.IGASM08BLImpl">
       <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
         <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
    </bean>

    <bean id="igasm09BL" class="com.deliverik.infogovernor.asset.bl.IGASM09BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="codeListUtils">
            <ref bean="codeListUtils"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="entityItemFacilitatorVWBL">
            <ref bean="entityItemFacilitatorVWBL"/>
        </property>
    </bean>

    <bean id="igasm10BL" class="com.deliverik.infogovernor.asset.bl.IGASM10BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="ig225BL">
            <ref bean="ig225BL"/>
        </property>
        <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="soc0117BL">
			<ref bean="soc0117BL"/>
		</property>
		<property name="soc0109BL">
			<ref bean="soc0109BL"/>
		</property>
		<property name="soc0118BL">
			<ref bean="soc0118BL"/>
		</property>
		<property name="soc0107BL">
			<ref bean="soc0107BL"/>
		</property>
		<property name="soc0119BL">
			<ref bean="soc0119BL"/>
		</property>
    </bean>

    <bean id="igasm11BL" class="com.deliverik.infogovernor.asset.bl.IGASM11BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="soc0601BL">
            <ref bean="soc0601BL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="soc0603BL">
            <ref bean="soc0603BL"/>
        </property>
        <property name="soc0602BL">
            <ref bean="soc0602BL"/>
        </property>
         <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
         <property name="compareTemplateBL">
            <ref bean="compareTemplateBL"/>
        </property>
        <property name="equipmentInquireVWBL">
            <ref bean="equipmentInquireVWBL"/>
        </property>
        <property name="indicatorLightsSystemBL">
            <ref bean="indicatorLightsSystemBL"/>
        </property>
         <property name="monitoringAlarmIPVWBL">
            <ref bean="monitoringAlarmIPVWBL"/>
        </property>
         <property name="synchronizationAlarmSystemVWBL">
            <ref bean="synchronizationAlarmSystemVWBL"/>
        </property>

    </bean>
    
    <bean id="igasm12BL" class="com.deliverik.infogovernor.asset.bl.IGASM12BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
    </bean>
	
	<bean id="igasm13BL" class="com.deliverik.infogovernor.asset.bl.IGASM13BLImpl">
        <property name="ig189BL">
            <ref bean="ig189BL"/>
        </property>
         <property name="soc0601BL">
            <ref bean="soc0601BL"/>
        </property>
         <property name="soc0602BL">
            <ref bean="soc0602BL"/>
        </property>
    </bean>

	 <bean id="igasm14BL" class="com.deliverik.infogovernor.asset.bl.IGASM14BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
    </bean>
    
      <bean id="igasm15BL" class="com.deliverik.infogovernor.asset.bl.IGASM15BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
    </bean>
    
    <bean id="igasm16BL" class="com.deliverik.infogovernor.asset.bl.IGASM16BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
         <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
    </bean>
    
    <bean id="igasm17BL" class="com.deliverik.infogovernor.asset.bl.IGASM17BLImpl">
        <property name="ig117BL">
            <ref bean="ig117BL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
        <property name="ig800BL">
            <ref bean="ig800BL"/>
        </property>
        <property name="ig313BL">
            <ref bean="ig313BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="ig225BL">
            <ref bean="ig225BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
    </bean>
    
    <bean id="igasm18BL" class="com.deliverik.infogovernor.asset.bl.IGASM18BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
    </bean>
    <bean id="igasm19BL" class="com.deliverik.infogovernor.asset.bl.IGASM19BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
            <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
    </bean>
 
    <bean id="igasm0422excelBL" class="com.deliverik.infogovernor.asset.bl.IGASM0422ExcelBLImpl">
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
    </bean>
        <bean id="igasm25BL" class="com.deliverik.infogovernor.asset.bl.IGASM25BLImpl">
    	<property name="ig343BL">
    		<ref bean="ig343BL"/>
    	</property>
    	<property name="ig344BL">
    		<ref bean="ig344BL"/>
    	</property>
    	<property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
     </bean>
     <bean id="igasm26BL" class="com.deliverik.infogovernor.asset.bl.IGASM26BLImpl">
    	<property name="ig342BL">
    		<ref bean="ig342BL"/>
    	</property>
    </bean>

	<!-- 风险点 -->
    <bean id="igasm27BL" class="com.deliverik.infogovernor.asset.bl.IGASM27BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="riskPointVMBL">
            <ref bean="riskPointVMBL"/>
        </property>
        <property name="userBL">
            <ref bean="userBL"/>
        </property>
        
        <property name="riskcheckVWBL">
            <ref bean="riskcheckVWBL"/>
        </property>
       <property name="riskToZhRelateVWBL">
            <ref bean="riskToZhRelateVWBL"/>
        </property>
        
    </bean>

	<!-- 检查项管理 -->
    <bean id="igasm28BL" class="com.deliverik.infogovernor.asset.bl.IGASM28BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="checkItemVWBL">
            <ref bean="checkItemVWBL"/>
        </property>
        <property name="userBL">
            <ref bean="userBL"/>
        </property>
        <property name="checkToRiskRelateVWBL">
            <ref bean="checkToRiskRelateVWBL"/>
        </property>
        <property name="riskToZhRelateVWBL">
            <ref bean="riskToZhRelateVWBL"/>
        </property>
    </bean>
	<!-- 信息安全 检查项管理 -->
    <bean id="igris06BL" class="com.deliverik.infogovernor.risk.bl.IGRIS06BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="checkItemVWBL">
            <ref bean="checkItemVWBL"/>
        </property>
        <property name="userBL">
            <ref bean="userBL"/>
        </property>
        <property name="checkToRiskRelateVWBL">
            <ref bean="checkToRiskRelateVWBL"/>
        </property>
        <property name="riskToZhRelateVWBL">
            <ref bean="riskToZhRelateVWBL"/>
        </property>
        <property name="attachmentBL">
			<ref bean="attachmentBL" />
		</property>
		<property name="riskCheckBL">
			<ref bean="riskCheckBL" />
		</property>
		<property name="igris02BL">
			<ref bean="igris02BL" />
		</property>
    </bean>
    <!-- 风险点管理 -->
    <bean id="igasm31BL" class="com.deliverik.infogovernor.asset.bl.IGASM31BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
         <property name="riskIndexShowVWBL">
            <ref bean="riskIndexShowVWBL"/>
        </property>
        <property name="riskIndexContextVWBL">
        	<ref bean = "riskIndexContextVWBL"/>
        </property>
        <property name= "maintenanceBL">
        	<ref bean = "maintenanceBL"/>
        </property>
         <property name="riskIndexSearchVWBL">
            <ref bean="riskIndexSearchVWBL"/>
        </property>
        <property name="userBL">
            <ref bean="userBL"/>
        </property>
    </bean>
    
    
    <!-- 风险点资产查询 -->
    <bean id="riskPointVMBL" class="com.deliverik.infogovernor.asset.bl.task.RiskPointVMBLImpl">
		<property name="riskPointVMDAO">
            <ref bean="riskPointVMDAO"/>
        </property>
    </bean>
    <bean id="riskPointVMDAO"   parent="baseHibernateDAO" class="com.deliverik.infogovernor.asset.model.dao.RiskPointVMDAOImpl">
    
    </bean>
    
    <bean id="checkItemVWBL" class="com.deliverik.infogovernor.asset.bl.task.CheckItemVWBLImpl">
    	 <property name="checkItemVWDAO">
            <ref bean="checkItemVWDAO"/>
        </property> 
    </bean>
    
    <bean id="checkItemVWDAO" parent="baseHibernateDAO" class="com.deliverik.infogovernor.asset.model.dao.CheckItemVWDAOImpl">
    </bean>
    <!-- 风险点查询结果导出 -->
     <bean id="igasm2714ExcelBL" class="com.deliverik.infogovernor.asset.bl.IGASM2714ExcelBLImpl" parent="excelBaseBL">
     	<property name="riskPointVMBL">
            <ref bean="riskPointVMBL"/>
        </property>
     </bean>
     <!-- 风险指标查询结果导出 -->
     <bean id="igasm3101ExcelBL" class="com.deliverik.infogovernor.asset.bl.IGASM3101ExcelBLImpl" parent="excelBaseBL">
     	<property name="riskIndexSearchVWBL">
            <ref bean="riskIndexSearchVWBL"/>
        </property>
     </bean>
     
     <!-- 检查项查询结果导出 -->
     <bean id="igasm2814ExcelBL" class="com.deliverik.infogovernor.asset.bl.IGASM2814ExcelBLImpl" parent="excelBaseBL">
     	<property name="checkItemVWBL">
            <ref bean="checkItemVWBL"/>
        </property>
     </bean>
     
     <bean id="checkToRiskRelateVWBL" class="com.deliverik.infogovernor.asset.bl.task.CheckToRiskRelateVWBLImpl">
    	<property name="checkToRiskRelateVWDAO">
            <ref bean="checkToRiskRelateVWDAO"/>
        </property>
     </bean>
    <bean id="checkToRiskRelateVWDAO" parent="baseHibernateDAO"  
    		class="com.deliverik.infogovernor.asset.model.dao.CheckToRiskRelateVWDAOImpl">
    </bean>
    <bean id="riskcheckVWBL" class="com.deliverik.infogovernor.asset.bl.task.RiskCheckVWBLImpl">
    	<property name="riskCheckVWDAO">
            <ref bean="riskCheckVWDAO"/>
        </property>
    </bean>
    <bean id="riskCheckVWDAO" parent="baseHibernateDAO"  
    		class="com.deliverik.infogovernor.asset.model.dao.RiskCheckVWDAOImpl">
    </bean>
    <!-- 风险指标查询 -->
    <bean id="riskIndexSearchVWDAO" parent="baseHibernateDAO"  
    		class="com.deliverik.infogovernor.asset.model.dao.RiskIndexSearchVWDAOImpl">
    </bean>
    <!-- 风险检查统计查询 -->
    <!-- DAO -->
    <bean id="checkVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.asset.model.dao.CheckVWDAOImpl">
	</bean>
	<bean id="riskVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.asset.model.dao.RiskVWDAOImpl">
	</bean>
	
	<!-- Task BL -->
	<bean id="checkVWBL" class="com.deliverik.infogovernor.asset.bl.task.CheckVWBLImpl">
		<property name="checkVWDAO">
			<ref bean="checkVWDAO"/>
		</property>
	</bean>
	<bean id="riskVWBL" class="com.deliverik.infogovernor.asset.bl.task.RiskVWBLImpl">
		<property name="riskVWDAO">
			<ref bean="riskVWDAO"/>
		</property>
	</bean>
	<!-- Control BL -->
	<bean id="igasm41bl" class="com.deliverik.infogovernor.asset.bl.IGASM41BLImpl">
		<property name="checkVWBL">
			<ref bean="checkVWBL"/>
		</property>
		<property name="riskVWBL">
			<ref bean="riskVWBL"/>
		</property>
	</bean>
	<!-- 导出Excel表格 -->
	<bean id="igasm41ExcelBL" class="com.deliverik.infogovernor.asset.bl.IGASM4001ExcelBLImpl" parent="excelBaseBL"></bean>	
	<!-- 风险指标查询 -->
	<bean id="riskIndexSearchVWBL" class="com.deliverik.infogovernor.asset.bl.task.RiskIndexSearchVWBLImpl">
		<property name="riskIndexSearchVWDAO">
			<ref bean="riskIndexSearchVWDAO"/>
		</property>
	</bean>
	<!--风险  指标TASKBL-->
     <bean id="riskToZhRelateVWBL" class="com.deliverik.infogovernor.asset.bl.task.RiskToZhRelateVWBLImpl">
    	<property name="riskToZhRelateVWDAO">
            <ref bean="riskToZhRelateVWDAO"/>
        </property>
    </bean>
     <!--风险 指标DAO-->
    <bean id="riskToZhRelateVWDAO" parent="baseHibernateDAO"  
    		class="com.deliverik.infogovernor.asset.model.dao.RiskToZhRelateVWDAOImpl">
    </bean>
    
    <!-- 风险指标展示taskBL -->
      <bean id="riskIndexShowVWBL" class="com.deliverik.infogovernor.asset.bl.task.RiskIndexShowVWBLImpl">
    	<property name="riskIndexShowVWDAO">
            <ref bean="riskIndexShowVWDAO"/>
        </property>
    </bean>
    <!-- 风险指标展示DAO -->
    <bean id="riskIndexShowVWDAO" parent="baseHibernateDAO"  
    		class="com.deliverik.infogovernor.asset.model.dao.RiskIndexShowVWDAOImpl">
    </bean>
     <!-- 风险指标展示taskBL -->
      <bean id="riskIndexContextVWBL" class="com.deliverik.infogovernor.asset.bl.task.RiskIndexContextVWBLImpl">
    	<property name="riskIndexContextVWDAO">
            <ref bean="riskIndexContextVWDAO"/>
        </property>
    </bean>
    <!-- 风险指标展示DAO -->
    <bean id="riskIndexContextVWDAO" parent="baseHibernateDAO"  
    		class="com.deliverik.infogovernor.asset.model.dao.RiskIndexContextVWDAOImpl">
    </bean>
     <!-- taskBL -->
    <bean id="maintenanceBL" class="com.deliverik.infogovernor.asset.bl.task.MaintenanceBLImpl">
    	<property name="maintenanceDAO">
            <ref bean="maintenanceDAO"/>
        </property>
    </bean>
    <!-- DAO -->
    <bean id="maintenanceDAO" parent="baseHibernateDAO"  
    		class="com.deliverik.infogovernor.asset.model.dao.MaintenanceDAOImpl">
    </bean>
    
     <bean id="rehearseDAO" 
    	parent="baseHibernateDAO"  
    	class="com.deliverik.infogovernor.asset.model.dao.RehearseDAOImpl">
    </bean>
    <bean id="rehearseBL" class="com.deliverik.infogovernor.asset.bl.task.RehearseBLImpl">
     <property name="rehearseDAO">
            <ref bean="rehearseDAO"/>
        </property>
    </bean>
    
    <!-- 风险事件资产查询 -->
    <bean id="IGASM32BL" class="com.deliverik.infogovernor.asset.bl.IGASM32BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="flowSetBL">
            <ref bean="flowSetBL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="riskcaseVWBL">
            <ref bean="riskcaseVWBL"/>
        </property>
    </bean>
       
      <bean id="igasm50BL" class="com.deliverik.infogovernor.asset.bl.IGASM50BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
        <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="igdocdownBL">
        	<ref bean="igdocdownBL"/>
        </property>
    </bean>
     
</beans>

