<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="compareTemplateDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.room.model.dao.CompareTemplateDAOImpl">
	</bean>

	<bean id="compareTemplateBL" class="com.deliverik.infogovernor.room.bl.task.CompareTemplateBLImpl">
        <property name="compareTemplateDAO">
            <ref bean="compareTemplateDAO"/>
        </property>
    </bean>

</beans>

