<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
	<!-- DAO -->
	<bean id="recptionDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.RecptionDAOImpl">
	</bean>
	
	<bean id="goutDetailInfoDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GoutDetailInfoDAOImpl">
	</bean>
	
	<bean id="dealDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.DealDAOImpl">
	</bean>
	<bean id="recptionVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.RecptionVWDAOImpl">
	</bean>
	<bean id="eeOrgVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.EEOrgVWDAOImpl">
	</bean>
	<bean id="dealVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.DealVWDAOImpl">
	</bean>
	<bean id="recptionOrgVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.RecptionOrgVWDAOImpl">
	</bean>
	<bean id="dealOrgVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.DealOrgVWDAOImpl">
	</bean>
	<bean id="recptionGuestDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.RecptionGuestDAOImpl">
	</bean>
	<bean id="eateryDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.EateryDAOImpl">
	</bean>
	<bean id="advanCescostDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.AdvanCescostDAOImpl">
	</bean>
	<bean id="eworkingLunchDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.EworkingLunchDAOImpl">
	</bean>
	<bean id="loanPayDetailDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.LoanPayDetailDAOImpl">
	</bean>
		
	<bean id="personLoanSummaryVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.PersonLoanSummaryVWDAOImpl">
	</bean>
	<bean id="personLoanDetailVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.PersonLoanDetailVWDAOImpl">
	</bean>
	<bean id="advanceDetailVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.AdvanceDetailVWDAOImpl">
	</bean>
	<bean id="eentertainmentDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.EentertainmentDAOImpl">
	</bean>
	<bean id="advanceSummaryDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.AdvanceSummaryDAOImpl">
	</bean>
	<bean id="goodsDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GoodsDAOImpl">
	</bean>
	<bean id="gstockDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GstockDAOImpl">
	</bean>
	<bean id="ginoutstockdetailDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GinoutstockdetailDAOImpl">
	</bean>
	<bean id="workLunchEateryDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.WorkLunchEateryDAOImpl">
	</bean>
	<bean id="eentertainmentStatisticsDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.EentertainmentStatisticsDAOImpl">
	</bean>
	<bean id="deptEentertainmentDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.DeptEentertainmentDAOImpl">
	</bean>
	<bean id="goodsStockDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GoodsStockDAOImpl">
	</bean>
	<bean id="singleGoodsStockDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.SingleGoodsStockDAOImpl">
	</bean>
	<bean id="goutstockDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GoutstockDAOImpl">
	</bean>
	<bean id="goutstockVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GoutstockVWDAOImpl">
	</bean>
	<bean id="gstockVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GstockVWDAOImpl">
	</bean>
	<bean id="recptionCostVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.RecptionCostVWDAOImpl">
	</bean>
	<bean id="lunchCardDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.LunchCardDAOImpl">
	</bean>
	<bean id="recptionAmountDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.RecptionAmountDAOImpl">
	</bean>
	<bean id="ginoutStockDetailVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.GinoutStockDetailVWDAOImpl">
	</bean>
	<bean id="inventoryDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.InventoryDAOImpl">
	</bean>
	<bean id="inventoryInfoDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.InventoryInfoDAOImpl">
	</bean>
	<bean id="eeDetailDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.EEDetailDAOImpl">
	</bean>
	<!-- Task BL -->
	<bean id="recptionBL" class="com.csebank.lom.bl.task.RecptionBLImpl">
		<property name="recptionDAO">
			<ref bean="recptionDAO"/>
		</property>
		<property name="recptionCostVWDAO">
			<ref bean="recptionCostVWDAO"/>
		</property>
		<property name="recptionAmountDAO">
			<ref bean="recptionAmountDAO"/>
		</property>
	</bean>
	<bean id="eeOrgVWBL" class="com.csebank.lom.bl.task.EEOrgVWBLImpl">
		<property name="eeOrgVWDAO">
			<ref bean="eeOrgVWDAO"/>
		</property>
		<property name="eeDetailDAO">
			<ref bean="eeDetailDAO"/>
		</property>
	</bean>
	
	<bean id="dealBL" class="com.csebank.lom.bl.task.DealBLImpl">
		<property name="dealDAO">
			<ref bean="dealDAO"/>
		</property>
	</bean>
	
	
	<bean id="recptionVWBL" class="com.csebank.lom.bl.task.RecptionVWBLImpl">
		<property name="recptionVWDAO">
			<ref bean="recptionVWDAO"/>
		</property>
	</bean>
	<bean id="dealVWBL" class="com.csebank.lom.bl.task.DealVWBLImpl">
		<property name="dealVWDAO">
			<ref bean="dealVWDAO"/>
		</property>
	</bean>
	<bean id="recptionOrgVWBL" class="com.csebank.lom.bl.task.RecptionOrgVWBLImpl">
		<property name="recptionOrgVWDAO">
			<ref bean="recptionOrgVWDAO"/>
		</property>
	</bean>
	<bean id="dealOrgVWBL" class="com.csebank.lom.bl.task.DealOrgVWBLImpl">
		<property name="dealOrgVWDAO">
			<ref bean="dealOrgVWDAO"/>
		</property>
	</bean>
	<bean id="recptionGuestBL" class="com.csebank.lom.bl.task.RecptionGuestBLImpl">
		<property name="recptionGuestDAO">
			<ref bean="recptionGuestDAO"/>
		</property>
	</bean>
	<bean id="eateryBL" class="com.csebank.lom.bl.task.EateryBLImpl">
		<property name="eateryDAO">
			<ref bean="eateryDAO"/>
		</property>
	</bean>
	<bean id="advanCescostBL" class="com.csebank.lom.bl.task.AdvanCescostBLImpl">
		<property name="advanCescostDAO">
			<ref bean="advanCescostDAO"/>
		</property>
	</bean>
	<bean id="eworkingLunchBL" class="com.csebank.lom.bl.task.EworkingLunchBLImpl">
		<property name="eworkingLunchDAO">
			<ref bean="eworkingLunchDAO"/>
		</property>
	</bean>
	<bean id="loanPayDetailBL" class="com.csebank.lom.bl.task.LoanPayDetailBLImpl">
		<property name="loanPayDetailDAO">
			<ref bean="loanPayDetailDAO"/>
		</property>
	</bean>
	<bean id="personLoanSummaryVWBL" class="com.csebank.lom.bl.task.PersonLoanSummaryVWBLImpl">
		<property name="personLoanSummaryVWDAO">
			<ref bean="personLoanSummaryVWDAO"/>
		</property>
	</bean>
	<bean id="personLoanDetailVWBL" class="com.csebank.lom.bl.task.PersonLoanDetailVWBLImpl">
		<property name="personLoanDetailVWDAO">
			<ref bean="personLoanDetailVWDAO"/>
		</property>
	</bean>
	<bean id="advanceDetailVWBL" class="com.csebank.lom.bl.task.AdvanceDetailVWBLImpl">
		<property name="advanceDetailVWDAO">
			<ref bean="advanceDetailVWDAO"/>
		</property>
	</bean>
	<bean id="eentertainmentBL" class="com.csebank.lom.bl.task.EentertainmentBLImpl">
		<property name="eentertainmentDAO">
			<ref bean="eentertainmentDAO"/>
		</property>
	</bean>
	<bean id="advanceSummaryBL" class="com.csebank.lom.bl.task.AdvanceSummaryBLImpl">
		<property name="advanceSummaryDAO">
			<ref bean="advanceSummaryDAO"/>
		</property>
		<property name="advanCescostBL">
			<ref bean="advanCescostBL"/>
		</property>
		<property name="loanPayDetailBL">
			<ref bean="loanPayDetailBL"/>
		</property>
	</bean>
	<bean id="goodsBL" class="com.csebank.lom.bl.task.GoodsBLImpl">
		<property name="goodsDAO">
			<ref bean="goodsDAO"/>
		</property>
	</bean>
	<bean id="gstockBL" class="com.csebank.lom.bl.task.GstockBLImpl">
		<property name="gstockDAO">
			<ref bean="gstockDAO"/>
		</property>
	</bean>
	<bean id="ginoutstockdetailBL" class="com.csebank.lom.bl.task.GinoutstockdetailBLImpl">
		<property name="ginoutstockdetailDAO">
			<ref bean="ginoutstockdetailDAO"/>
		</property>
		<property name="ginoutStockDetailVWDAO">
			<ref bean="ginoutStockDetailVWDAO"/>
		</property>
		<property name="goutDetailInfoDAO">
			<ref bean="goutDetailInfoDAO"/>
		</property>
	</bean>
	<bean id="workLunchEateryBL" class="com.csebank.lom.bl.task.WorkLunchEateryBLImpl">
		<property name="workLunchEateryDAO">
			<ref bean="workLunchEateryDAO"/>
		</property>
	</bean>
	
	
	<bean id="eentertainmentStatisticsBL" class="com.csebank.lom.bl.task.EentertainmentStatisticsBLImpl">
		<property name="eentertainmentStatisticsDAO">
			<ref bean="eentertainmentStatisticsDAO"/>
		</property>
	</bean>
	
	<bean id="deptEentertainmentBL" class="com.csebank.lom.bl.task.DeptEentertainmentBLImpl">
		<property name="deptEentertainmentDAO">
			<ref bean="deptEentertainmentDAO"/>
		</property>
	</bean>
	
	<bean id="goodsStockBL" class="com.csebank.lom.bl.task.GoodsStockBLImpl">
		<property name="goodsStockDAO">
			<ref bean="goodsStockDAO"/>
		</property>
	</bean>
	
	<bean id="singleGoodsStockBL" class="com.csebank.lom.bl.task.SingleGoodsStockBLImpl">
		<property name="singleGoodsStockDAO">
			<ref bean="singleGoodsStockDAO"/>
		</property>
	</bean>
	
	<bean id="goutstockBL" class="com.csebank.lom.bl.task.GoutstockBLImpl">
		<property name="goutstockDAO">
			<ref bean="goutstockDAO"/>
		</property>
	</bean>
	<bean id="goutstockVWBL" class="com.csebank.lom.bl.task.GoutstockVWBLImpl">
		<property name="goutstockVWDAO">
			<ref bean="goutstockVWDAO"/>
		</property>
	</bean>
	<bean id="gstockVWBL" class="com.csebank.lom.bl.task.GstockVWBLImpl">
		<property name="gstockVWDAO">
			<ref bean="gstockVWDAO"/>
		</property>
	</bean>
	<bean id="lunchCardBL" class="com.csebank.lom.bl.task.LunchCardBLImpl">
		<property name="lunchCardDAO">
			<ref bean="lunchCardDAO"/>
		</property>
	</bean>
	<bean id="inventoryBL" class="com.csebank.lom.bl.task.InventoryBLImpl">
		<property name="inventoryDAO">
			<ref bean="inventoryDAO"/>
		</property>
		<property name="inventoryInfoDAO">
			<ref bean="inventoryInfoDAO"/>
		</property>
	</bean>
	<!-- Control BL -->
	<bean id="iglom01BL" class="com.csebank.lom.bl.IGLOM01BLImpl">
		<property name="recptionBL">
			<ref bean="recptionBL"/>
		</property>
		<property name="dealBL">
			<ref bean="dealBL"/>
		</property>
		<property name="recptionVWBL">
			<ref bean="recptionVWBL"/>
		</property>
		<property name="dealVWBL">
			<ref bean="dealVWBL"/>
		</property>
		<property name="recptionOrgVWBL">
			<ref bean="recptionOrgVWBL"/>
		</property>
		<property name="dealOrgVWBL">
			<ref bean="dealOrgVWBL"/>
		</property>
		<property name="recptionGuestBL">
			<ref bean="recptionGuestBL"/>
		</property>
		<property name="loanPayDetailBL">
			<ref bean="loanPayDetailBL"/>
		</property>
		<property name="eentertainmentBL">
			<ref bean="eentertainmentBL"/>
		</property>
		<property name="goutstockBL">
			<ref bean="goutstockBL"/>
		</property>
	</bean>
	
	<bean id="iglom05BL" class="com.csebank.lom.bl.IGLOM05BLImpl">
		<property name="eateryBL">
			<ref bean="eateryBL"/>
		</property>
		<property name="eeOrgVWBL">
			<ref bean="eeOrgVWBL"/>
		</property>
		<property name="eworkingLunchBL">
			<ref bean="eworkingLunchBL"/>
		</property>
		<property name="eentertainmentBL">
			<ref bean="eentertainmentBL"/>
		</property>
		<property name="workLunchEateryBL">
			<ref bean="workLunchEateryBL"/>
		</property>
		<property name="eentertainmentStatisticsBL">
			<ref bean="eentertainmentStatisticsBL"/>
		</property>
		<property name="deptEentertainmentBL">
			<ref bean="deptEentertainmentBL"/>
		</property>
		<property name="goodsStockBL">
			<ref bean="goodsStockBL"/>
		</property>
		<property name="singleGoodsStockBL">
			<ref bean="singleGoodsStockBL"/>
		</property>
		<property name="ginoutstockdetailBL">
			<ref bean="ginoutstockdetailBL"/>
		</property>
		<property name="lunchCardBL">
			<ref bean="lunchCardBL"/>
		</property>
	</bean>
	<bean id="iglom02BL" class="com.csebank.lom.bl.IGLOM02BLImpl">
		<property name="goodsBL">
			<ref bean="goodsBL"/>
		</property>
		<property name="ginoutstockdetailBL">
			<ref bean="ginoutstockdetailBL"/>
		</property>
		<property name="gstockBL">
			<ref bean="gstockBL"/>
		</property>
		<property name="goutstockBL">
			<ref bean="goutstockBL"/>
		</property>
		<property name="goutstockVWBL">
			<ref bean="goutstockVWBL"/>
		</property>
		<property name="gstockVWBL">
			<ref bean="gstockVWBL"/>
		</property>
		<property name="codeDetailBL">
			<ref bean="codeDetailBL"/>
		</property>
		<property name="inventoryBL">
			<ref bean="inventoryBL"/>
		</property>
	</bean>
	<bean id="iglom03BL" class="com.csebank.lom.bl.IGLOM03BLImpl">
		<property name="advanCescostBL">
			<ref bean="advanCescostBL"/>
		</property>
		<property name="loanPayDetailBL">
			<ref bean="loanPayDetailBL"/>
		</property>
		<property name="advanceSummaryBL">
			<ref bean="advanceSummaryBL"/>
		</property>
		<property name="personLoanSummaryVWBL">
			<ref bean="personLoanSummaryVWBL"/>
		</property>
		<property name="personLoanDetailVWBL">
			<ref bean="personLoanDetailVWBL"/>
		</property>
		<property name="advanceDetailVWBL">
			<ref bean="advanceDetailVWBL"/>
		</property>
	</bean>
	
	<bean id="invoiceDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.InvoiceDAOImpl">
	</bean>
	<bean id="invoiceVWDAO"
	    parent="baseHibernateDAO"
		class="com.csebank.lom.model.dao.InvoiceVWDAOImpl">
	</bean>
	
	<!-- Task BL -->
	<bean id="invoiceBL" class="com.csebank.lom.bl.task.InvoiceBLImpl">
		<property name="invoiceDAO">
			<ref bean="invoiceDAO"/>
		</property>
		<property name="invoiceVWDAO">
			<ref bean="invoiceVWDAO"/>
		</property>
	</bean>
	<bean id="iglom04BL" class="com.csebank.lom.bl.IGLOM04BLImpl">
		<property name="invoiceBL">
			<ref bean="invoiceBL"/>
		</property>
	</bean>
	
</beans>