<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!--场景定义待发起节点（第一页）点击【下一步】按钮事件 -->
	<bean id="igDRMBTN0101BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0101BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="ig560BL">
			<ref bean="ig560BL" />
		</property>
		<property name="ig480BL">
			<ref bean="ig480BL"/>
		</property>
	</bean>
	<!--场景修订 待发起节点（第一页）点击【下一步】按钮事件-->
	<bean id="igDRMBTN0102BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0102BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="ig560BL">
			<ref bean="ig560BL" />
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL" />
		</property>
	</bean>	
	<!--场景修订 待发起节点（第一页）点击【下一步】按钮事件-->
	<bean id="igDRMBTN0103BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0103BLImpl">
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="userBL">
			<ref bean="userBL"/>
		</property>
		<property name="ig484BL">
			<ref bean="ig484BL"/>
		</property>
		<property name="messagePushBL">
			<ref bean="messagePushBL"/>
		</property>
		<property name="ig224BL">
			<ref bean="ig224BL"/>
		</property>
		<property name="ig483BL">
			<ref bean="ig483BL"/>
		</property>
		<property name="emergencyLogBL">
			<ref bean="emergencyLogBL"/>
		</property>
	</bean>	
	<bean id="igDRMBTN0104BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0104BLImpl">
		<property name="messagePushBL">
			<ref bean="messagePushBL"/>
		</property>
		<property name="emergencyLogBL">
			<ref bean="emergencyLogBL"/>
		</property>
		<property name="ig036BL">
			<ref bean="ig036BL"/>
		</property>
		<property name="currentNodeBL">
			<ref bean="currentNodeBL"/>
		</property>
	</bean>
	<bean id="igDRMBTN0105BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0105BLImpl">
		<property name="messagePushBL">
			<ref bean="messagePushBL"/>
		</property>
		<property name="emergencyLogBL">
			<ref bean="emergencyLogBL"/>
		</property>
		<property name="ig036BL">
			<ref bean="ig036BL"/>
		</property>
		<property name="currentNodeBL">
			<ref bean="currentNodeBL"/>
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>
	<!--组合场景定义待发起节点（第一页）点击【下一步】按钮事件 -->
	<bean id="igDRMBTN0201BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0201BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="ig560BL">
			<ref bean="ig560BL" />
		</property>
		<property name="ig480BL">
			<ref bean="ig480BL" />
		</property>
	</bean>
	<!--场景修订 待发起节点（第一页）点击【下一步】按钮事件-->
	<bean id="igDRMBTN0202BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0202BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="ig560BL">
			<ref bean="ig560BL" />
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL" />
		</property>
	</bean>	
	<bean id="igDRMBTN1201BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN1201BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>
<!-- 	演练流程审批节点驳回按钮事件 -->
	<bean id="igDRMBTN0701BL" class="com.deliverik.infogovernor.drm.igflow.button.IGDRMBTN0701BLImpl">
	</bean>
</beans>