<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 风险评估领导审批表单初始化-->
	<bean id="igINIT0202BL" class="com.dev.ram.igflow.init.form.IGINIT0202BLImpl">
		<property name="assessmentScoreVWBL">
			<ref bean="assessmentScoreVWBL"/>
		</property>
	</bean>
	<!-- 变更流程发起节点表单初始化-->
	<bean id="igCRC0402BL" class="com.dev.crc.igflow.init.form.IGCRC0402BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="sysManageBL">
			<ref bean="sysManageBL"/>
		</property>
	</bean>
	<!-- 问题流程发起节点表单初始化-->
	<bean id="igCRC0302BL" class="com.dev.crc.igflow.init.form.IGCRC0302BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>
	<!-- 事件流程发起节点表单初始化，新增告警信息表单值初始化-->
	<bean id="igCRC0201BL" class="com.dev.crc.igflow.init.form.IGCRC0201BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="igalarmBL">
			<ref bean="igalarmBL"/>
		</property>
	</bean>
	<!-- 服务请求流程发起节点表单初始化-->
	<bean id="igCRC0503BL" class="com.dev.crc.igflow.init.form.IGCRC0503BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="sysManageBL">
			<ref bean="sysManageBL"/>
		</property>
	</bean>
	<!-- 程序更新流程发起节点表单初始化-->
	<bean id="igCRC1002BL" class="com.dev.crc.igflow.init.form.IGCRC1002BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>
	<!-- 监管报表表单初始化 -->
	<bean id="igSMR0101BL" class="com.dev.crc.igflow.init.form.IGSMR0101BLImpl">
		<property name="reportValueQueryDAO">
			<ref bean="reportValueQueryDAO"/>
		</property>
	</bean>
</beans>