<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Control BL -->
	<bean id="igPRD01BL" class="com.deliverik.infogovernor.prd.bl.IGPRD01BLImpl">
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
		<property name="userBL">
			<ref bean="userBL"/>
		</property>
		<property name="organizationBL">
			<ref bean="organizationBL"/>
		</property>
		<property name="roleBL">
			<ref bean="roleBL"/>
		</property>
		<property name="codeDetailBL">
			<ref bean="codeDetailBL"/>
		</property>
		<property name="fileUploadBL">
			<ref bean="fileUploadBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
        <property name="actionBL">
            <ref bean="actionBL"/>
        </property>
        <property name="workFlowOperationBL">
            <ref bean="workFlowOperationBL"/>
        </property>
        <property name="ig013BL">
            <ref bean="ig013BL"/>
        </property>
		<property name="ig212BL">
			<ref bean="ig212BL"/>
		</property>
	</bean>
	
	<bean id="igprd02BL" class="com.deliverik.infogovernor.prd.bl.IGPRD02BLImpl">
		<property name="userroleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
	</bean>
	
	<!-- 流程图形化定义界面 -->
	<bean id="igprd10BL" class="com.deliverik.infogovernor.prd.bl.IGPRD10BLImpl">
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
		<property name="ig222BL">
			<ref bean="ig222BL"/>
		</property>
		<property name="ig298BL">
			<ref bean="ig298BL"/>
		</property>
		<property name="ig560BL">
			<ref bean="ig560BL"/>
		</property>
		<property name="ig273BL">
			<ref bean="ig273BL"/>
		</property>
	</bean>
</beans>