<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- DAO -->
	<bean id="socRelationDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.soc.model.dao.SocRelationDAOImpl">
	</bean>
	<bean id="topoxmldao"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dbm.model.dao.TOPOXMLDAOImpl">
	</bean>
	<bean id="soc0114VW_FXDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.soc.model.dao.SOC0114VW_FXDAOImpl">
	</bean>
	<bean id="soc0153DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0153DAOImpl">
	</bean>
	<bean id="platformManagerDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.PlatformManagerDAOImpl">
	</bean>
	<bean id="soc0501DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0501DAOImpl">
	</bean>
	<bean id="soc0502DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0502DAOImpl">
	</bean>
	<bean id="soc0163DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0163DAOImpl">
	</bean>
	<bean id="ig500VWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.soc.cim.model.dao.IG500VWDAOImpl">
	</bean>
	
	<bean id="soc0600DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0600DAOImpl">
	</bean>
	<bean id="soc0601DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0601DAOImpl">
	</bean>
	<bean id="soc0602DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0602DAOImpl">
	</bean>
	<bean id="soc0603DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0603DAOImpl">
	</bean>
	<bean id="soc0604DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.SOC0604DAOImpl">
	</bean>
	
	
	<!-- Task BL -->
	<bean id="socRelationBL" class="com.deliverik.infogovernor.soc.bl.task.SocRelationBLImpl">
		<property name="socRelationDAO">
			<ref bean="socRelationDAO"/>
		</property>
	</bean>
	
	<bean id="soc0114VW_FXBL" class="com.deliverik.infogovernor.soc.bl.task.SOC0114VW_FXBLImpl">
		<property name="soc0114VW_FXDAO">
			<ref bean="soc0114VW_FXDAO"/>
		</property>
		<property name="soc0107DAO">
			<ref bean="soc0107DAO"/>
		</property>
		<property name="topoxmldao">
			<ref bean="topoxmldao"/>
		</property>
		<property name="crm06BL">
			<ref bean="crm06BL"/>
		</property>
		<property name="userRegionDAO">
			<ref bean="userRegionDAO"/>
		</property>
	</bean>
	
	<bean id="soc0153BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0153BLImpl">
		<property name="soc0153DAO">
			<ref bean="soc0153DAO"/>
		</property>
	</bean>
	<bean id="platformManagerBL" class="com.deliverik.framework.soc.asset.bl.task.PlatformManagerBLImpl">
		<property name="platformManagerDAO">
			<ref bean="platformManagerDAO"/>
		</property>
	</bean>
	<bean id="soc0501BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0501BLImpl">
		<property name="soc0501DAO">
			<ref bean="soc0501DAO"/>
		</property>
	</bean>
	<bean id="soc0502BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0502BLImpl">
		<property name="soc0502DAO">
			<ref bean="soc0502DAO"/>
		</property>
	</bean>
	<bean id="soc0163BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0163BLImpl">
		<property name="soc0163DAO">
			<ref bean="soc0163DAO"/>
		</property>
	</bean>
	<bean id="ig500VWBL" class="com.deliverik.infogovernor.soc.cim.bl.task.IG500VWBLImpl">
		<property name="ig500VWDAO">
			<ref bean="ig500VWDAO"/>
		</property>
	</bean>
	
	<bean id="soc0600BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0600BLImpl">
		<property name="soc0600DAO">
			<ref bean="soc0600DAO"/>
		</property>
	</bean>
	<bean id="soc0601BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0601BLImpl">
		<property name="soc0601DAO">
			<ref bean="soc0601DAO"/>
		</property>
	</bean>
	<bean id="soc0602BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0602BLImpl">
		<property name="soc0602DAO">
			<ref bean="soc0602DAO"/>
		</property>
		<property name="soc0604DAO">
			<ref bean="soc0604DAO"/>
		</property>
	</bean>
	<bean id="soc0603BL" class="com.deliverik.framework.soc.asset.bl.task.SOC0603BLImpl">
		<property name="soc0603DAO">
			<ref bean="soc0603DAO"/>
		</property>
	</bean>
 	<!-- 3D机房支持IP查询DAO -->
	<bean id="equipmentInquireVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.soc.asset.model.dao.EquipmentInquireVWDAOImpl">
	</bean>
	<!--3D机房支持IP查询BL -->
    <bean id="equipmentInquireVWBL"
		class="com.deliverik.framework.soc.asset.bl.task.EquipmentInquireVWBLImpl">
		<property name="equipmentInquireVWDAO">
            <ref bean="equipmentInquireVWDAO"/>
        </property>
	</bean>
	 <!-- Control BL -->
	  <bean id="igcim01BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM01BLImpl">
		<property name="cr01BL">
    		<ref bean="cr01BL"/>
    	</property>
    	<property name="cr03BL">
    		<ref bean="cr03BL"/>
    	</property>
        <property name="soc0114BL">
            <ref bean="soc0114BL"/>
        </property>
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
         <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="socRelationBL">
            <ref bean="socRelationBL"/>
        </property>
         <property name="soc0110BL">
            <ref bean="soc0110BL"/>
        </property>
         <property name="soc0111BL">
            <ref bean="soc0111BL"/>
        </property>
         <property name="soc0126BL">
            <ref bean="soc0126BL"/>
        </property>
        <property name="soc0112BL">
            <ref bean="soc0112BL"/>
        </property>
         <property name="soc0152BL">
            <ref bean="soc0152BL"/>
        </property>
		<property name="soc0153BL">
	    		<ref bean="soc0153BL"/>
	     </property>
		<property name="soc0113BL">
	    		<ref bean="soc0113BL"/>
	     </property>
		<property name="platformManagerBL">
	    		<ref bean="platformManagerBL"/>
	     </property>
		<property name="ig500VWBL">
	    		<ref bean="ig500VWBL"/>
	     </property>
    </bean>
    <bean id="igcim02BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM02BLImpl">
        <property name="soc0111BL">
            <ref bean="soc0111BL"/>
        </property>
         <property name="soc0112BL">
            <ref bean="soc0112BL"/>
        </property>  
         <property name="soc0120BL">
            <ref bean="soc0120BL"/>
        </property>
         <property name="soc0115BL">
            <ref bean="soc0115BL"/>
        </property> 
        <!-- 等候任务临时表 -->
        <property name="soc0116BL">
            <ref bean="soc0116BL"/>
        </property> 
        <property name="soc0113BL">
            <ref bean="soc0113BL"/>
        </property>
        <property name="soc0125BL">
            <ref bean="soc0125BL"/>
        </property>  
         <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>     
        <property name="soc0126BL">
            <ref bean="soc0126BL"/>
        </property> 
        <property name="cr03BL">
            <ref bean="cr03BL"/>
        </property> 
         <property name="cicollecttaskBL">
	    		<ref bean="cicollecttaskBL"/>
	     </property>
    </bean>
    <bean id="igcim03BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM03BLImpl">
    	<property name="soc0105BL">
            <ref bean="soc0105BL"/>
        </property>
    	<property name="soc0106BL">
            <ref bean="soc0106BL"/>
        </property>
    	<property name="soc0120BL">
            <ref bean="soc0120BL"/>
        </property>
    	<property name="soc0103BL">
            <ref bean="soc0103BL"/>
        </property>
    	<property name="soc0104BL">
            <ref bean="soc0104BL"/>
        </property>
    	<property name="soc0102BL">
            <ref bean="soc0102BL"/>
        </property>
    	<property name="soc0101BL">
            <ref bean="soc0101BL"/>
        </property>
    	<property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
    	<property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
    	<property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
    	<property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
    	<property name="socImpactGraphBL">
            <ref bean="socImpactGraphBL"/>
        </property>
    </bean>
    
    <bean id="igcim10BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM10BLImpl">
    	<property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>   	
    </bean>
    <bean id="igcim12BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM12BLImpl">
    	<property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
    </bean>
    
    <bean id="igcim09BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM09BLImpl">
    	<property name="soc0163BL" ref="soc0163BL"/>
    	<property name="soc0111BL" ref="soc0111BL" />
    	
    </bean>
    <bean id="igcim13BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM13BLImpl">
    	<property name="timer01BL">
    		<ref bean="timer01BL"/>
    	</property>
    	<property name="timer02BL">
    		<ref bean="timer02BL"/>
    	</property>
    	<property name="cicollecttaskBL">
    		<ref bean="cicollecttaskBL"/>
    	</property>
    </bean>
    	
     <bean id="igcim04BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM04BLImpl">
  	    <property name="soc0117BL">
			<ref bean="soc0117BL"/>
		</property>
		<property name="soc0109BL">
			<ref bean="soc0109BL"/>
		</property>
        <property name="ig545BL">
            <ref bean="ig545BL"/>
        </property>
        <property name="ig611BL">
            <ref bean="ig611BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
    </bean>
     <bean id="igcim05BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM05BLImpl">
    	<property name="cr01BL">
    		<ref bean="cr01BL"/>
    	</property>
    	<property name="cr03BL">
    		<ref bean="cr03BL"/>
    	</property>
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
         <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="socRelationBL">
            <ref bean="socRelationBL"/>
        </property>
         <property name="soc0110BL">
            <ref bean="soc0110BL"/>
        </property>
         <property name="soc0111BL">
            <ref bean="soc0111BL"/>
        </property>
         <property name="soc0126BL">
            <ref bean="soc0126BL"/>
        </property>
        <property name="soc0112BL">
            <ref bean="soc0112BL"/>
        </property>
    </bean>	
    
    <bean id="igcim14BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM14BLImpl">
        <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="soc0107BL">
            <ref bean="soc0107BL"/>
        </property>
        <property name="soc0119BL">
            <ref bean="soc0119BL"/>
        </property>
        <property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="organizationBL">
            <ref bean="organizationBL"/>
        </property>
         <property name="soc0109BL">
            <ref bean="soc0109BL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="soc0151BL">
            <ref bean="soc0151BL"/>
        </property>
    </bean>	
    
     <bean id="igcim15BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM15BLImpl">
	     <property name="cicollecttaskBL">
	    		<ref bean="cicollecttaskBL"/>
	     </property>
     </bean>
     <bean id="igcim16BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM16BLImpl">
	     <property name="soc0501BL">
	    		<ref bean="soc0501BL"/>
	     </property>
	     <property name="soc0502BL">
	    		<ref bean="soc0502BL"/>
	     </property>
	     <property name="soc0118BL">
	    		<ref bean="soc0118BL"/>
	     </property>
	     <property name="soc0163BL">
	    		<ref bean="soc0163BL"/>
	     </property>
	     <property name="soc0119BL">
	    		<ref bean="soc0119BL"/>
	     </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
	     <property name="organizationBL">
	    		<ref bean="organizationBL"/>
	     </property>
     </bean>
     <bean id="igcim17BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM17BLImpl">
	     <property name="soc0153BL">
	    		<ref bean="soc0153BL"/>
	     </property>
	      <property name="soc0113BL">
	    		<ref bean="soc0113BL"/>
	     </property>
     </bean>
     
      <bean id="igcim18BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM18BLImpl">
	     <property name="cicollecttaskBL">
	    		<ref bean="cicollecttaskBL"/>
	     </property>
     </bean>
     
      <bean id="igcim19BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM19BLImpl">
	    
     </bean>
     <!-- 网络设备业务BL -->
      <bean id="igcim20BL" class="com.deliverik.infogovernor.soc.cim.bl.IGCIM20BLImpl">
	     <property name="soc0118BL" ref="soc0118BL" />
	     <property name="soc0117BL" ref="soc0117BL" />
	     <property name="soc0119BL" ref="soc0119BL" />
	     <property name="soc0110BL" ref="soc0110BL" />
	     <property name="soc0111BL" ref="soc0111BL" />
	     <property name="soc0163BL" ref="soc0163BL" />

	     <property name="soc0109BL" ref="soc0109BL" />
	     <property name="organizationBL" ref="organizationBL" />
	     <property name="socRelationBL" ref="socRelationBL" />
	     <property name="soc0107BL" ref="soc0107BL" />
	     <property name="soc0151BL" ref="soc0151BL" />
	
	     <property name="soc0126BL" ref="soc0126BL" />
	     <property name="soc0112BL" ref="soc0112BL" />
	     <property name="codeDetailBL" ref="codeDetailBL" />
	     <property name="userRoleBL" ref="userRoleBL" />
	     <property name="fileUploadBL" ref="fileUploadBL" />
	     
     </bean>
     
	<bean id="portRelationDao" parent="baseHibernateDAO" class="com.deliverik.infogovernor.soc.model.dao.PortRelationDAOImpl"></bean>
    <bean id="portRelationBL" class="com.deliverik.infogovernor.soc.cim.bl.task.PortRelationBLImpl" >
    	<property name="portRelationDao">
    		<ref bean="portRelationDao" />
    	</property>
    </bean>
    
    <bean id="cr03DAO" parent="baseHibernateDAO" class="com.deliverik.infogovernor.soc.model.dao.CR03DAOImpl">
    </bean>
    
    <bean id="cr01DAO" parent="baseHibernateDAO" class="com.deliverik.infogovernor.soc.model.dao.CR01DAOImpl">
    </bean>
    
    <bean id="cr03BL" class="com.deliverik.infogovernor.soc.bl.task.CR03BLImpl">
    	<property name="cr03DAO">
    		<ref bean="cr03DAO"/>
    	</property>
    </bean>
    
    <bean id="cr01BL" class="com.deliverik.infogovernor.soc.bl.task.CR01BLImpl">
    	<property name="cr01DAO">
    		<ref bean="cr01DAO"/>
    	</property>
    </bean>
</beans>

