<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 事件趋势统计表 -->
	<bean id="incidentTendencyDAO"
	    parent="baseHibernateDAO"
	    class="com.deliverik.infogovernor.dbm.model.dao.IncidentTendencyDAOImpl">
	</bean>
	<bean id="incidentTendencyBL" class="com.deliverik.infogovernor.dbm.bl.task.IncidentTendencyBLImpl">
		<property name="incidentTendencyDAO">
			<ref bean="incidentTendencyDAO"/>
		</property>
	</bean>
	<!-- 业务系统拓扑区DAO -->
	<bean id="userRegionDAO"
	    parent="baseHibernateDAO"
	    class="com.deliverik.infogovernor.soc.model.dao.UserRegionDAOImpl">
	</bean>
	<!--工作管理DAO -->
	<bean id="workmanagerDAO"
	    parent="baseHibernateDAO"
	    class="com.deliverik.infogovernor.dbm.model.dao.WorkmanagerDAOImpl">
	</bean>
	<!-- 业务系统拓扑区域BL -->
	<bean id="userRegionBL" class="com.deliverik.infogovernor.soc.bl.task.UserRegionBLImpl">
		<property name="userRegionDAO">
			<ref bean="userRegionDAO"/>
		</property>
	</bean>
	
	<!-- 变更趋势统计表 -->
	<bean id="changeTendencyDAO"
	    parent="baseHibernateDAO"
	    class="com.deliverik.infogovernor.dbm.model.dao.ChangeTendencyDAOImpl">
	</bean>
	<bean id="changeTendencyBL" class="com.deliverik.infogovernor.dbm.bl.task.ChangeTendencyBLImpl">
		<property name="changeTendencyDAO">
			<ref bean="changeTendencyDAO"/>
		</property>
	</bean>
	<!-- 拓扑xml -->
	<bean id="tOPOXMLDAO"
	    parent="baseHibernateDAO"
	    class="com.deliverik.infogovernor.dbm.model.dao.TOPOXMLDAOImpl">
	</bean>
	<bean id="tOPOXMLBL" class="com.deliverik.infogovernor.dbm.bl.task.TOPOXMLBLImpl">
		<property name="tOPOXMLDAO">
			<ref bean="tOPOXMLDAO"/>
		</property>
	</bean>
	<!-- 平台可用性 -->
	<bean id="bussinessAvailvalVWDAO"
	    parent="baseHibernateDAO"
	    class="com.deliverik.infogovernor.dbm.model.dao.BussinessAvailvalVWDAOImpl">
	</bean>
	<!-- 科技运行统计分析DAO -->
	<bean id="scienceOperationReportDAO" parent="baseHibernateDAO" class="com.deliverik.infogovernor.dbm.model.dao.ScienceOperationReportDAOImpl">
	</bean>
	
	<!-- 科技运行统计分析BL -->
	<bean id="scienceOperationReportBL" class="com.deliverik.infogovernor.dbm.bl.task.ScienceOperationReportBLImpl">
		<property name="scienceOperationReportDAO">
			<ref bean="scienceOperationReportDAO"/>
		</property>
	</bean>
	<bean id="bussinessAvailvalVWBL" class="com.deliverik.infogovernor.dbm.bl.task.BussinessAvailvalVWBLImpl">
		<property name="bussinessAvailvalVWDAO">
			<ref bean="bussinessAvailvalVWDAO"/>
		</property>
	</bean>
	
	 <!-- Control BL -->
    <bean id="igDBM01BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM01BLImpl">
        <property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL" />
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL" />
		</property>
    </bean>
    <bean id="igDBM02BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM02BLImpl">
        <property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL" />
		</property>
    </bean>
    <bean id="igDBM03BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM03BLImpl">
    	<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL" />
		</property>
		<property name="incidentTendencyBL">
			<ref bean="incidentTendencyBL" />
		</property>
		<property name="changeTendencyBL">
			<ref bean="changeTendencyBL" />
		</property>
		<property name="codeDetailBL">
			<ref bean="codeDetailBL" />
		</property>
		<property name="knowLedgeInfoBL">
			<ref bean="knowLedgeInfoBL"/>
		</property>
		<property name="ig933BL">
			<ref bean="ig933BL"/>
		</property>
    </bean>
    <bean id="igDBM04BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM04BLImpl">
    </bean>
 	<!-- 问题流程综合分析BL -->
    <bean id="igDBM05BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM05BLImpl">
    </bean>
     <!-- 事件流程综合分析BL -->
    <bean id="igDBM06BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM06BLImpl">
    </bean>
     	<!-- 变更流程综合分析BL -->
    <bean id="igDBM07BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM07BLImpl">
    </bean>
     <!-- 工作流程综合分析BL -->
    <bean id="igDBM08BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM08BLImpl">
    </bean>
    <!-- 系统可用率分析BL -->
    <bean id="igDBM09BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM09BLImpl">
    </bean>
    <!-- 渠道业务实时情况BL -->
    <bean id="igDBM10BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM10BLImpl">
    </bean>
    <!-- 工作管理BL -->
	<bean id="workmanagerBL" class="com.deliverik.infogovernor.dbm.bl.task.WorkmanagerBLImpl">
		<property name="workmanagerDAO">
			<ref bean="workmanagerDAO"/>
		</property>
	</bean>
    <!-- DAO -->
	<bean id="ip_FilterDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dbm.model.dao.Ip_FilterDAOImpl">
	</bean>
	
	<!-- Task BL -->
	<bean id="ip_filterBL" class="com.deliverik.infogovernor.dbm.bl.task.Ip_FilterBLImpl">
		<property name="ip_FilterDAO">
			<ref bean="ip_FilterDAO"/>
		</property>
	</bean>

	<!-- Control BL -->
	<bean id="igdbm11BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM11BLImpl">
        <property name="ip_filterBL">
            <ref bean="ip_filterBL"/>
        </property>
     </bean>
     <bean id="igdbm12BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM12BLImpl">
     	<property name="riskCheckBL">
            <ref bean="riskCheckBL"/>
        </property>
        <property name="riskCheckResultBL">
            <ref bean="riskCheckResultBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
         <property name="workFlowOperationBL">
            <ref bean="workFlowOperationBL"/>
        </property>
         <property name="codeListUtils">
            <ref bean="codeListUtils"/>
        </property>
         <property name="scienceOperationReportBL">
            <ref bean="scienceOperationReportBL"/>
        </property>
                <property name="soc0117BL">
            <ref bean="soc0117BL"/>
        </property>
        <property name="soc0118BL">
            <ref bean="soc0118BL"/>
        </property>
        <property name="ig500BL">
            <ref bean="ig500BL"/>
        </property>
        <property name="checkItemVWBL">
            <ref bean="checkItemVWBL"/>
        </property>
        <property name="riskPointVMBL">
            <ref bean="riskPointVMBL"/>
        </property>
        <property name="riskcaseVWBL">
            <ref bean="riskcaseVWBL"/>
        </property>
     </bean>
     
      <bean id="igdbm13BL" class="com.deliverik.infogovernor.dbm.bl.IGDBM13BLImpl">
     	<property name="workmanagerBL">
            <ref bean="workmanagerBL"/>
        </property>
        <property name="sendMessageBL">
            <ref bean="sendMessageBL"/>
        </property>
         <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
      </bean>
     <bean id="igsvc1301excelBL" class="com.deliverik.infogovernor.xls.svc.bl.IGSVC1301ExcelBLImpl" >
  	 	 <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
    </bean>
</beans>

