<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
  	
	<!-- 
	迁移修改记录
	基本原则
	BL、DAO后缀不变类型使用大写，对象使用小写 如：SOC0201BL、soc0201BL等
	替换说明
	REPORT_GDATA_ITEM修改为SOC0201
	ReportAnnexation修改为SOC0202
	ReportConfiguration修改为SOC0203
	ReportCustomLink修改为SOC0204
	ReportManage修改为SOC0205
	ReportTemplateMapping修改为SOC0206
	ReportTemplate修改为SOC0207
	ServeEfficiency修改为SOC0208
	ProcessRecordInfoVW修改为SOC0209
	因为存在使用与容量相关的表因此为了统一一致使用容量管理的相应的代码名
	CapacityObjectList修改为SOC0423
	DBCapacityRealTime修改为SOC0401
	LVCapacityRealTime修改为SOC0405
	PVHostRealTime修改为SOC0409
	PVStorageRealTime修改为SOC0410
	ReportType修改为SOC0424
	StorageCapacityRealTime修改为SOC0411
	TSCapacityRealTime修改为SOC0415
	VGCapacityRealTime修改为SOC0419
	BusinessCapacityRealTimeVW修改为SOC0428
	HostCapacityRealTimeVW修改为SOC0429
	 -->
	<!-- 自动报表配置DAO -->
	<bean id="soc0207DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0207DAOImpl">
	</bean>	
	<bean id="soc0206DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0206DAOImpl">
	</bean>
	<bean id="soc0203DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0203DAOImpl">
	</bean>	
	<bean id="soc0201DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0201DAOImpl">
	</bean>	
	<bean id="soc0209DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0209DAOImpl">
	</bean>	
	<bean id="soc0208DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0208DAOImpl">
	</bean>	
	<bean id="monitorObjectDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.mnt.model.dao.MonitorObjectDAOImpl">
	</bean>	
	<bean id="codeDetailTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.model.dao.CodeDetailTBDAOImpl">
	</bean>	
	<bean id="soc0205DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0205DAOImpl">
	</bean>	
	<bean id="soc0202DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.rpt.model.dao.SOC0202DAOImpl">
	</bean>	
	
	<!-- 报表统计DAO -->
	<bean id="soc0411DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0411DAOImpl">
	</bean>
	<bean id="soc0428DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0428DAOImpl">
	</bean>
	<bean id="soc0429DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0429DAOImpl">
	</bean>
	<bean id="soc0401DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0401DAOImpl">
	</bean>
	<bean id="soc0405DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0405DAOImpl">
	</bean>
	<bean id="soc0419DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0419DAOImpl">
	</bean>
	<bean id="soc0415DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0415DAOImpl">
	</bean>
	<bean id="soc0409DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0409DAOImpl">
	</bean>
	<bean id="soc0410DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0410DAOImpl">
	</bean>
	<bean id="soc0423DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0423DAOImpl">
	</bean>
	<bean id="soc0424DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0424DAOImpl">
	</bean>
	<bean id="soc0434DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0434DAOImpl">
	</bean>
	<!--  自定义报表快速链接 -->
	<bean id="soc0204DAO"
	 parent="baseHibernateDAO" 
	 class="com.deliverik.infogovernor.rpt.model.dao.SOC0204DAOImpl">
	</bean>
	 <!-- Control BL -->
	 
	 <bean id="soc0207BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0207BLImpl">
        <property name="soc0207DAO">
            <ref bean="soc0207DAO"/>
        </property>
    </bean>
	 <bean id="soc0206BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0206BLImpl">
        <property name="soc0206DAO">
            <ref bean="soc0206DAO"/>
        </property>
    </bean>
    <bean id="soc0205BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0205BLImpl">
     <property name="soc0205DAO">
            <ref bean="soc0205DAO"/>
        </property>
	</bean>	
	<bean id="soc0202BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0202BLImpl">
	 <property name="soc0202DAO">
            <ref bean="soc0202DAO"/>
        </property>
	</bean>	
	 <bean id="codeDetailBL" class="com.deliverik.framework.bl.CodeDetailBLImpl">
        <property name="codeDetailTBDAO">
            <ref bean="codeDetailTBDAO"/>
        </property>
    </bean>
	 <bean id="monitorObjectBL" class="com.deliverik.infogovernor.mnt.bl.task.MonitorObjectBLImpl">
        <property name="monitorObjectDAO">
            <ref bean="monitorObjectDAO"/>
        </property>
    </bean>
	 <bean id="soc0203BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0203BLImpl">
        <property name="soc0203DAO">
            <ref bean="soc0203DAO"/>
        </property>
    </bean>
    
    <bean id="soc0201BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0201BLImpl">
        <property name="soc0201DAO">
            <ref bean="soc0201DAO"/>
        </property>
    </bean>
    
    <bean id="soc0209BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0209BLImpl">
        <property name="soc0209DAO">
            <ref bean="soc0209DAO"/>
        </property>
    </bean>
    
     <bean id="soc0208BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0208BLImpl">
        <property name="soc0208DAO">
            <ref bean="soc0208DAO"/>
        </property>
    </bean>
    <!-- 报表统计BL -->
     <bean id="soc0411BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0411BLImpl">
        <property name="soc0411DAO">
            <ref bean="soc0411DAO"/>
        </property>
    </bean>
     <bean id="soc0428BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0428BLImpl">
        <property name="soc0428DAO">
            <ref bean="soc0428DAO"/>
        </property>
    </bean>
     <bean id="soc0429BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0429BLImpl">
        <property name="soc0429DAO">
            <ref bean="soc0429DAO"/>
        </property>
    </bean>
     <bean id="soc0401BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0401BLImpl">
        <property name="soc0401DAO">
            <ref bean="soc0401DAO"/>
        </property>
    </bean>
     <bean id="soc0405BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0405BLImpl">
        <property name="soc0405DAO">
            <ref bean="soc0405DAO"/>
        </property>
    </bean>
     <bean id="soc0419BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0419BLImpl">
        <property name="soc0419DAO">
            <ref bean="soc0419DAO"/>
        </property>
    </bean>
     <bean id="soc0415BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0415BLImpl">
        <property name="soc0415DAO">
            <ref bean="soc0415DAO"/>
        </property>
    </bean>
     <bean id="soc0409BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0409BLImpl">
        <property name="soc0409DAO">
            <ref bean="soc0409DAO"/>
        </property>
    </bean>
     <bean id="soc0410BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0410BLImpl">
        <property name="soc0410DAO">
            <ref bean="soc0410DAO"/>
        </property>
    </bean>
    <bean id="soc0423BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0423BLImpl">
        <property name="soc0423DAO">
            <ref bean="soc0423DAO"/>
        </property>
    </bean>
      <bean id="soc0424BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0424BLImpl">
        <property name="soc0424DAO">
            <ref bean="soc0424DAO"/>
        </property>
    </bean>
      <bean id="soc0434BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0434BLImpl">
        <property name="soc0434DAO">
            <ref bean="soc0434DAO"/>
        </property>
    </bean>
    <!--  自定义报表快速链接BL -->
     <bean id="soc0204BL" class="com.deliverik.infogovernor.rpt.bl.task.SOC0204BLImpl">
        <property name="soc0204DAO">
            <ref bean="soc0204DAO"/>
        </property>
    </bean>
    
    <bean id="IGRPT02BL" class="com.deliverik.infogovernor.rpt.bl.IGRPT02BLImpl">
        <property name="soc0207BL">
            <ref bean="soc0207BL"/>
        </property>
        <property name="soc0206BL">
            <ref bean="soc0206BL"/>
        </property>
        <property name="soc0205BL">
            <ref bean="soc0205BL"/>
        </property>
        <property name="soc0202BL">
            <ref bean="soc0202BL"/>
        </property>
        <property name="soc0209BL">
            <ref bean="soc0209BL"/>
        </property>
        <property name="soc0208BL">
            <ref bean="soc0208BL"/>
        </property>
        <property name="codeDetailDefBL">
            <ref bean="codeDetailDefBL"/>
        </property>
        <property name="monitorObjectBL">
            <ref bean="monitorObjectBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="soc0204BL">
            <ref bean="soc0204BL"/>
        </property>
    </bean>
	<bean id="igrpt03BL" class="com.deliverik.infogovernor.rpt.bl.IGRPT03BLImpl">
		<property name="soc0411BL">
			<ref bean="soc0411BL"/>
		</property>
		<property name="soc0428BL">
			<ref bean="soc0428BL"/>
		</property>
		<property name="soc0429BL">
			<ref bean="soc0429BL"/>
		</property>
		<property name="soc0401BL">
			<ref bean="soc0401BL"/>
		</property>
		<property name="soc0405BL">
			<ref bean="soc0405BL"/>
		</property>
		<property name="soc0419BL">
			<ref bean="soc0419BL"/>
		</property>
		<property name="soc0415BL">
			<ref bean="soc0415BL"/>
		</property>
		<property name="soc0118BL">
			<ref bean="soc0118BL"/>
		</property>
		<property name="codeDetailBL">
			<ref bean="codeDetailBL"/>
		</property>
		<property name="reportFileDefinitionBL">
			<ref bean="reportFileDefinitionBL"/>
		</property>
		<property name="roleReportBL">
			<ref bean="roleReportBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
	</bean>
	
	<!-- 原始xml包含文件 -->
    <!-- Control BL -->
    <bean id="igRPT01BL" class="com.deliverik.infogovernor.rpt.bl.IGRPT01BLImpl">
        <property name="codeCategoryBL">
            <ref bean="codeCategoryBL"/>
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
        <property name="reportFileDefinitionBL">
            <ref bean="reportFileDefinitionBL"/>
        </property>
        <property name="userBL">
            <ref bean="userBL"/>
        </property>
         <property name="roleReportBL">
            <ref bean="roleReportBL"/>
        </property>
        <property name="userRoleBL">
            <ref bean="userRoleBL"/>
        </property>
        <property name="customReportBL">
            <ref bean="customReportBL"/>
        </property>
    </bean>
    
    <bean id="igrpt04BL" class="com.deliverik.infogovernor.rpt.bl.IGRPT04BLImpl">
		<property name="codeDetailBL">
			<ref bean="codeDetailBL"/>
		</property>
		<property name="customConfigurationBL">
			<ref bean="customConfigurationBL"/>
		</property>
		<property name="reportFileDefinitionBL">
			<ref bean="reportFileDefinitionBL"/>
		</property>
		<property name="roleReportBL">
			<ref bean="roleReportBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
	</bean>
</beans>

