<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- Control BL -->
	
	<!-- 工作公共查询 -->
	<bean id="igaut01BL" class="com.deliverik.infogovernor.soc.aut.bl.IGAUT01BLImpl">
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL" />
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL" />
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL" />
		</property>
		<property name="roleBL">
			<ref bean="roleBL" />
		</property>
		<property name="ig108BL">
			<ref bean="ig108BL" />
		</property>
	</bean>
	
	<bean id="igaut02BL" class="com.deliverik.infogovernor.soc.aut.bl.IGAUT02BLImpl">
		<property name="userRoleBL">
			<ref bean="userRoleBL" />
		</property>
		<property name="organizationBL">
			<ref bean="organizationBL" />
		</property>
		<property name="soc0117BL">
			<ref bean="soc0117BL" />
		</property>
		<property name="soc0118BL">
			<ref bean="soc0118BL" />
		</property>
		<property name="soc0111BL">
			<ref bean="soc0111BL" />
		</property>
	</bean>
</beans>
