<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--dao -->
	<bean id="internalauditprjDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.iam.model.dao.InternalauditprjDAOImpl">
	</bean>
	<bean id="internalauditJobDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.iam.model.dao.InternalauditJobDAOImpl">
	</bean>
	<bean id="auditProjectDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.iam.model.dao.AUDITPROJECTDAOImpl">
	</bean>
	<!-- bl-->
	<bean id="internalauditprjBL" class="com.deliverik.infogovernor.iam.bl.task.InternalauditprjBLImpl">
		<property name="internalauditprjDAO">
			<ref bean="internalauditprjDAO"/>
		</property>
	</bean>
	<bean id="internalauditJobBL" class="com.deliverik.infogovernor.iam.bl.task.InternalauditJobBLImpl">
		<property name="internalauditJobDAO">
			<ref bean="internalauditJobDAO"/>
		</property>
	</bean>
	<bean id="auditProjectBL" class="com.deliverik.infogovernor.iam.bl.task.AUDITPROJECTBLImpl">
		<property name="auditProjectDAO">
			<ref bean="auditProjectDAO"/>
		</property>
	</bean>
	<!-- ctrl bl-->
	<bean id="igiam01BL" class="com.deliverik.infogovernor.iam.bl.IGIAM01BLImpl">
		<property name="internalauditprjBL">
			<ref bean="internalauditprjBL"/>
		</property>
		<property name="fileUploadBL">
			<ref bean="fileUploadBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL"/>
		</property>
		<property name="ig599BL">
			<ref bean="ig599BL"/>
		</property>
	</bean>
	<bean id="igiam02bl" class="com.deliverik.infogovernor.iam.bl.IGIAM02BLImpl">
		<property name="internalauditJobBL">
			<ref bean="internalauditJobBL"/>
		</property>
		<property name="fileUploadBL">
			<ref bean="fileUploadBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
	</bean>
	<bean id="igiam03bl" class="com.deliverik.infogovernor.iam.bl.IGIAM03BLImpl">
		<property name="auditProjectBL">
			<ref bean="auditProjectBL"/>
		</property>
		<property name="fileUploadBL">
			<ref bean="fileUploadBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
	</bean>
	<!-- 工作公共查询 -->
	<bean id="igiam05BL" class="com.deliverik.infogovernor.iam.bl.IGIAM05BLImpl">
		<property name="ig108BL">
			<ref bean="ig108BL"/>
		</property>
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL" />
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL" />
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL" />
		</property>
		<property name="roleBL">
			<ref bean="roleBL" />
		</property>
		<property name="codeDetailBL">
			<ref bean="codeDetailBL" />
		</property>
		<property name="ig380BL">
			<ref bean="ig380BL" />
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL" />
		</property>
		<property name="ig259BL">
			<ref bean="ig259BL" />
		</property>
		<property name="ig599BL">
			<ref bean="ig599BL"/>
		</property>
	</bean>
</beans>
