<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
	<!-- DAO -->
	<bean id="dutyAuditDefDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.DutyAuditDefDAOImpl">
	</bean>
	<bean id="dutyAuditTimeDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.DutyAuditTimeDAOImpl">
	</bean>
	<bean id="dutyPlanDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.DutyPlanDAOImpl">
	</bean>
	<bean id="dutyPersonDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.DutyPersonDAOImpl">
	</bean>
	<bean id="dutyResultDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.DutyResultDAOImpl">
	</bean>
	<bean id="dutyResultVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.DutyResultVWDAOImpl">
	</bean>

	<bean id="onDutyPersonRecordDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.OnDutyPersonRecordDAOImpl">
	</bean>

	<bean id="delayDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.dut.model.dao.DelayDAOImpl">
	</bean>
	
	<!-- Task BL -->
	<bean id="dutyAuditDefBL" class="com.deliverik.infogovernor.dut.bl.task.DutyAuditDefBLImpl">
		<property name="dutyAuditDefDAO">
			<ref bean="dutyAuditDefDAO"/>
		</property>
	</bean>
	<bean id="dutyAuditTimeBL" class="com.deliverik.infogovernor.dut.bl.task.DutyAuditTimeBLImpl">
		<property name="dutyAuditTimeDAO">
			<ref bean="dutyAuditTimeDAO"/>
		</property>
	</bean>
	<bean id="dutyPlanBL" class="com.deliverik.infogovernor.dut.bl.task.DutyPlanBLImpl">
		<property name="dutyPlanDAO">
			<ref bean="dutyPlanDAO"/>
		</property>
	</bean>
	<bean id="dutyPersonBL" class="com.deliverik.infogovernor.dut.bl.task.DutyPersonBLImpl">
		<property name="dutyPersonDAO">
			<ref bean="dutyPersonDAO"/>
		</property>
	</bean>
	<bean id="dutyResultBL" class="com.deliverik.infogovernor.dut.bl.task.DutyResultBLImpl">
		<property name="dutyResultDAO">
			<ref bean="dutyResultDAO"/>
		</property>
	</bean>
	<bean id="dutyResultVWBL" class="com.deliverik.infogovernor.dut.bl.task.DutyResultVWBLImpl">
		<property name="dutyResultVWDAO">
			<ref bean="dutyResultVWDAO"/>
		</property>
	</bean>

	<bean id="delayBL" class="com.deliverik.infogovernor.dut.bl.task.DelayBLImpl">
		<property name="delayDAO">
			<ref bean="delayDAO"/>
		</property>
	</bean>
	<bean id="onDutyPersonRecordBL" class="com.deliverik.infogovernor.dut.bl.task.OnDutyPersonRecordBLImpl">
        <property name="onDutyPersonRecordDAO">
            <ref bean="onDutyPersonRecordDAO"/>
        </property>
    </bean>


	
	
	<bean id="igdut01BL" class="com.deliverik.infogovernor.dut.bl.IGDUT01BLImpl">
		<property name="dutyAuditDefBL">
			<ref bean="dutyAuditDefBL"/>
		</property>
		<property name="dutyAuditTimeBL">
			<ref bean="dutyAuditTimeBL"/>
		</property>
	</bean>
	<bean id="igdut02BL" class="com.deliverik.infogovernor.dut.bl.IGDUT02BLImpl">
		<property name="dutyPlanBL">
			<ref bean="dutyPlanBL"/>
		</property>
		<property name="dutyPersonBL">
			<ref bean="dutyPersonBL"/>
		</property>
		<property name="dutyResultBL">
			<ref bean="dutyResultBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="userBL">
			<ref bean="userBL"/>
		</property>
		<property name="dutyAuditDefBL">
			<ref bean="dutyAuditDefBL"/>
		</property>
		<property name="dutyAuditTimeBL">
			<ref bean="dutyAuditTimeBL"/>
		</property>
		<property name="dutyResultVWBL">
			<ref bean="dutyResultVWBL"/>
		</property>
		<property name="codeListUtils">
			<ref bean="codeListUtils"/>
		</property>
	</bean>
	<bean id="igdut03BL" class="com.deliverik.infogovernor.dut.bl.IGDUT03BLImpl">
		<property name="dutyResultBL">
			<ref bean="dutyResultBL"/>
		</property>
		<property name="dutyPlanBL">
			<ref bean="dutyPlanBL"/>
		</property>
		<property name="onDutyPersonRecordBL">
            <ref bean="onDutyPersonRecordBL"/>
        </property>
		<property name="codeDetailBL">
            <ref bean="codeDetailBL"/>
        </property>
		<property name="delayBL">
			<ref bean="delayBL"/>
		</property>
	</bean>
	<bean id="igdut04BL" class="com.deliverik.infogovernor.dut.bl.IGDUT04BLImpl">
		<property name="delayBL">
			<ref bean="delayBL"/>
		</property>
	</bean>
</beans>