<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
   	<!-- DAO -->
   	<!-- 首页逻辑视图DAO -->
	<bean id="initiateChangLogDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.plugin.change.model.dao.InitiateChangLogDAOImpl">
	</bean>
	
	
	<!-- taskBL -->
	<bean id="initiateChangLogBL" class="com.deliverik.plugin.change.bl.task.InitiateChangLogBLImpl">
		<property name="initiateChangLogDAO">
			<ref bean="initiateChangLogDAO"/>
		</property>
	</bean>
	
	<!-- BL -->
	<bean id="iGCHANGE01BLImpl" class="com.deliverik.plugin.change.bl.IGCHANGE01BLImpl">
		<property name="initiateChangLogBL">
			<ref bean="initiateChangLogBL"/>
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL"/>
		</property>
		<property name="flowOptBL">
			<ref bean="flowOptBL"/>
		</property>
		<property name="ig505BL">
			<ref bean="ig505BL"/>
		</property>
		<property name="ig599BL">
			<ref bean="ig599BL"/>
		</property>
		<property name="ig036BL">
			<ref bean="ig036BL"/>
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL"/>
		</property>
		<property name="ig224BL">
			<ref bean="ig224BL"/>
		</property>
		<property name="ig337BL">
			<ref bean="ig337BL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL"/>
		</property>
		<property name="userBL">
			<ref bean="userBL"/>
		</property>
		<property name="sysManageBL">
			<ref bean="sysManageBL"/>
		</property>
	</bean>
	
</beans>

