<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
	<!-- DAO -->
	<bean id="budgetTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.fin.model.dao.BudgetTBDAOImpl">
	</bean>
	
	<bean id="expenseTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.fin.model.dao.ExpenseTBDAOImpl">
	</bean>
	
	<bean id="budgetBL" class="com.deliverik.infogovernor.fin.bl.task.BudgetBLImpl">
		<property name="budgetTBDAO">
			<ref bean="budgetTBDAO" />
		</property>	
	</bean>
	
	<bean id="expenseBL" class="com.deliverik.infogovernor.fin.bl.task.ExpenseBLImpl">
		<property name="expenseTBDAO">
			<ref bean="expenseTBDAO" />
		</property>	
	</bean>

	<!-- Control BL -->
	<bean id="igfin01BL" class="com.deliverik.infogovernor.fin.bl.IGFIN01BLImpl">
		<property name="budgetBL">
			<ref bean="budgetBL" />
		</property>
		<property name="expenseBL">
			<ref bean="expenseBL" />
		</property>
		<property name="projectBL">
			<ref bean="projectBL"/>
		</property>
		<property name="pbsummaryVWBL">
			<ref bean="pbsummaryVWBL"/>
		</property>		
	</bean>
	<bean id="igfin02BL" class="com.deliverik.infogovernor.fin.bl.IGFIN02BLImpl">
		<property name="expenseBL">
			<ref bean="expenseBL" />
		</property>	
		
		<property name="budgetBL">
			<ref bean="budgetBL" />
		</property>
		
		<property name="fileUploadBL">
            <ref bean="fileUploadBL"/>
        </property>
        <property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
	</bean>
	<!-- 统计汇总  -->
	<bean id="igfin03BL" class="com.deliverik.infogovernor.fin.bl.IGFIN03BLImpl">
		<property name="expenseBL">
			<ref bean="expenseBL"/>
		</property>
		<property name="budgetBL">
			<ref bean="budgetBL"/>
		</property>
	</bean>
	
	<!-- 财务统计报告  -->
	<bean id="igfin04BL" class="com.deliverik.infogovernor.fin.bl.IGFIN04BLImpl">
		<property name="expenseBL">
			<ref bean="expenseBL"/>
		</property>
		<property name="budgetBL">
			<ref bean="budgetBL"/>
		</property>
	</bean>
	
	<!-- 预算费用数目  -->
	<bean id="igfin05BL" class="com.deliverik.infogovernor.fin.bl.IGFIN05BLImpl">
		<property name="expenseBL">
			<ref bean="expenseBL"/>
		</property>
		<property name="budgetBL">
			<ref bean="budgetBL"/>
		</property>
	</bean>
</beans>

    

