<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   <bean id="igCYB0101BL" class="com.dev.cyb.igflow.event.status.IGCYB0101BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>
	<bean id="igCYB0102BL" class="com.dev.cyb.igflow.event.status.IGCYB0102BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
	</bean>
	<bean id="igCYB0103BL" class="com.dev.cyb.igflow.event.status.IGCYB0103BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igCYB0104BL" class="com.dev.cyb.igflow.event.status.IGCYB0104BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igCYB0105BL" class="com.dev.cyb.igflow.event.status.IGCYB0105BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>		
	</bean>
	<bean id="igCYB0106BL" class="com.dev.cyb.igflow.event.status.IGCYB0106BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>		
	</bean>
	<bean id="igCYB0107BL" class="com.dev.cyb.igflow.event.status.IGCYB0107BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>		
	</bean>
	<!-- 风险评估审批分派结点后处理添加当前人为默认审核人 -->
	<bean id="igCYB0108BL" class="com.dev.cyb.igflow.event.status.IGCYB0108BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<!-- 变更合作人添加为变更处理人 -->
	<bean id="igCYB0109BL" class="com.dev.cyb.igflow.event.status.IGCYB0109BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<!-- 变更复核人确认添加为变更复核 -->
	<bean id="igCYB0110BL" class="com.dev.cyb.igflow.event.status.IGCYB0110BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<!-- 变更复核人确认添加为变更复核 -->
	<bean id="igCYB0135BL" class="com.dev.cyb.igflow.event.status.IGCYB0135BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
	</bean>
	<!-- 机房离开确认节点添加发起人为节点参与者 -->
	<bean id="igCYB0136BL" class="com.dev.cyb.igflow.event.status.IGCYB0136BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<!-- 服务工单流程  处理节点  -->
	<bean id="igCYB0151BL" class="com.dev.cyb.igflow.event.status.IGCYB0151BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	
	<!-- 服务工单流程  处理节点  -->
	<bean id="igCYB0152BL" class="com.dev.cyb.igflow.event.status.IGCYB0152BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	
	
	<!-- 监管报表开始  -->
	<bean id="igEVENT1401BL" class="com.dev.ext.igflow.event.status.IGEVENT1401BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igEVENT1402BL" class="com.dev.ext.igflow.event.status.IGEVENT1402BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="approveSuggestionBL">
			<ref bean="approveSuggestionBL"/>
		</property>
	</bean>
	
	<bean id="igEVENT1403BL" class="com.dev.ext.igflow.event.status.IGEVENT1403BLImpl">
		<property name="ig500BL">
			<ref bean="ig500BL"/>
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL"/>
		</property>
		<property name="regulatoryReportDetailBL">
			<ref bean="regulatoryReportDetailBL"/>
		</property>
		<property name="regulatoryReportInstanceBL">
			<ref bean="regulatoryReportInstanceBL"/>
		</property>
	</bean>
	
	<bean id="igEVENT1404BL" class="com.dev.ext.igflow.event.status.IGEVENT1404BLImpl">
		<property name="approveSuggestionBL">
			<ref bean="approveSuggestionBL"/>
		</property>
	</bean>
	<bean id="igEVENT1405BL" class="com.dev.ext.igflow.event.status.IGEVENT1405BLImpl">
		<property name="ig500BL">
			<ref bean="ig500BL"/>
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL"/>
		</property>
		<property name="regulatoryReportDetailBL">
			<ref bean="regulatoryReportDetailBL"/>
		</property>
		<property name="regulatoryReportInstanceBL">
			<ref bean="regulatoryReportInstanceBL"/>
		</property>
	</bean>
	<!-- 监管报表开始  -->
	
	<!-- 个人工作确认节点  -->
	<bean id="igCYB0160BL" class="com.dev.cyb.igflow.event.status.IGCYB0160BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<!-- 指派工作审核节点  -->
	<bean id="igCYB0161BL" class="com.dev.cyb.igflow.event.status.IGCYB0161BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
</beans>