<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- DAO -->
	<bean id="compareobjectDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.cic.model.dao.CompareobjectDAOImpl">
	</bean>
	<bean id="compareprocessDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.cic.model.dao.CompareprocessDAOImpl">
	</bean>
	<bean id="compareresultDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.cic.model.dao.CompareresultDAOImpl">
	</bean>
	<bean id="compareroleDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.cic.model.dao.CompareroleDAOImpl">
	</bean>
	<bean id="comparescopeDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.cic.model.dao.ComparescopeDAOImpl">
	</bean>
	<bean id="compareobjectHistoryDAO" parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.cic.model.dao.CompareobjectHistoryDAOImpl">
	</bean>
	<bean id="compareProcessRoleRelationDAO" parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.cic.model.dao.CompareProcessRoleRelationDAOImpl">
	</bean>
	
	
	
	<!-- Task BL -->
	<bean id="compareobjectBL" class="com.deliverik.infogovernor.cic.bl.task.CompareobjectBLImpl">
		<property name="compareobjectDAO">
			<ref bean="compareobjectDAO"/>
		</property>
	</bean>
	<bean id="compareprocessBL" class="com.deliverik.infogovernor.cic.bl.task.CompareprocessBLImpl">
		<property name="compareprocessDAO">
			<ref bean="compareprocessDAO"/>
		</property>
	</bean>
	<bean id="compareresultBL" class="com.deliverik.infogovernor.cic.bl.task.CompareresultBLImpl">
		<property name="compareresultDAO">
			<ref bean="compareresultDAO"/>
		</property>
	</bean>
	<bean id="compareroleBL" class="com.deliverik.infogovernor.cic.bl.task.CompareroleBLImpl">
		<property name="compareroleDAO">
			<ref bean="compareroleDAO"/>
		</property>
	</bean>
	<bean id="comparescopeBL" class="com.deliverik.infogovernor.cic.bl.task.ComparescopeBLImpl">
		<property name="comparescopeDAO">
			<ref bean="comparescopeDAO"/>
		</property>
	</bean>
	<bean id="compareobjectHistoryBL" class="com.deliverik.infogovernor.cic.bl.task.CompareobjectHistoryBLImpl">
		<property name="compareobjectHistoryDAO">
			<ref bean="compareobjectHistoryDAO"/>
		</property>
	</bean>
	<bean id="compareProcessRoleRelationBL" class="com.deliverik.infogovernor.cic.bl.task.CompareProcessRoleRelationBLImpl">
		<property name="compareProcessRoleRelationDAO">
			<ref bean="compareProcessRoleRelationDAO"/>
		</property>
	</bean>
	
	
	 <!-- Control BL -->
	  	<bean id="igcic01BL" class="com.deliverik.infogovernor.cic.bl.IGCIC01BLImpl">
		<property name="compareroleBL">
			<ref bean="compareroleBL"/>
		</property>
		<property name="compareobjectBL">
			<ref bean="compareobjectBL"/>
		</property>
		<property name="soc0118BL">
			<ref bean="soc0118BL"/>
		</property>
	</bean>
	  <bean id="igcic02BL" class="com.deliverik.infogovernor.cic.bl.IGCIC02BLImpl">
		<property name="compareprocessBL">
			<ref bean="compareprocessBL"/>
		</property>
		<property name="compareroleBL">
			<ref bean="compareroleBL"/>
		</property>
		<property name="compareobjectHistoryBL">
			<ref bean="compareobjectHistoryBL"/>
		</property>
		<property name="compareresultBL">
			<ref bean="compareresultBL"/>
		</property>
		<property name="soc0118BL">
			<ref bean="soc0118BL"/>
		</property>
		<property name="soc0117BL">
			<ref bean="soc0117BL"/>
		</property>
	</bean>
</beans>

