<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="igEVENT0202BL" class="com.dev.ext.igflow.event.button.IGEVENT0202BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igEVENT0203BL" class="com.dev.ext.igflow.event.button.IGEVENT0203BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igEVENT0301BL" class="com.dev.ext.igflow.event.button.IGEVENT0301BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igEVENT0302BL" class="com.dev.ext.igflow.event.button.IGEVENT0302BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igEVENT0303BL" class="com.dev.ext.igflow.event.button.IGEVENT0303BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igEVENT0401BL" class="com.dev.ext.igflow.event.button.IGEVENT0401BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	
	<!-- SOC -->
	<bean id="igSOCEvent0102BL" class="com.dev.ext.igflow.event.button.IGSOCEvent0102BLImpl">
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
		<property name="ig337BL">
			<ref bean="ig337BL"/>
		</property>
	</bean>
		<bean id="igSOCEvent0201BL" class="com.dev.ext.igflow.event.button.IGSOCEvent0201BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igSOCEvent0202BL" class="com.dev.ext.igflow.event.button.IGSOCEvent0202BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igSOCEvent0203BL" class="com.dev.ext.igflow.event.button.IGSOCEvent0203BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
	<bean id="igSOCEvent0204BL" class="com.dev.ext.igflow.event.button.IGSOCEvent0204BLImpl">
		<property name="flowSetBL">
			<ref bean="flowSetBL"/>
		</property>
	</bean>
</beans>