<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<!-- DAO -->
	<bean id="sdlDefineInfoTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.sdl.model.dao.SdlDefineInfoTBDAOImpl">
	</bean>
	<bean id="sdlInfoTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.sdl.model.dao.SdlInfoTBDAOImpl">
	</bean>
	<bean id="sdlSummaryVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.sdl.model.dao.SdlSummaryVWDAOImpl">
	</bean>
	
	<bean id="sdlYearSummaryVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.sdl.model.dao.SdlYearSummaryVWDAOImpl">
	</bean>
	
	<bean id="changeKpiVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.sdl.model.dao.ChangeKpiVWDAOImpl">
	</bean>
	<bean id="incidentKpiVWDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.sdl.model.dao.IncidentKpiVWDAOImpl">
	</bean>

	<!-- Task BL -->
	<bean id="sdlDefineInfoBL" class="com.deliverik.infogovernor.sdl.bl.task.SdlDefineInfoBLImpl">
		<property name="sdlDefineInfoTBDAO">
			<ref bean="sdlDefineInfoTBDAO"/>
		</property>
		<property name="sdlInfoBL">
			<ref bean="sdlInfoBL"/>
		</property>
	</bean>
	<bean id="sdlInfoBL" class="com.deliverik.infogovernor.sdl.bl.task.SdlInfoBLImpl">
		<property name="sdlInfoTBDAO">
			<ref bean="sdlInfoTBDAO"/>
		</property>
	</bean>
	<bean id="sdlSummaryBL" class="com.deliverik.infogovernor.sdl.bl.task.SdlSummaryBLImpl">
		<property name="sdlSummaryVWDAO">
			<ref bean="sdlSummaryVWDAO"/>
		</property>
	</bean>
	<bean id="sdlYearSummaryBL" class="com.deliverik.infogovernor.sdl.bl.task.SdlYearSummaryBLImpl">
		<property name="sdlYearSummaryVWDAO">
			<ref bean="sdlYearSummaryVWDAO"/>
		</property>
	</bean>
	
	<bean id="changeKpiBL" class="com.deliverik.infogovernor.sdl.bl.task.ChangeKpiBLImpl">
		<property name="changeKpiVWDAO">
			<ref bean="changeKpiVWDAO"/>
		</property>
	</bean>
	
	<bean id="incidentKpiBL" class="com.deliverik.infogovernor.sdl.bl.task.IncidentKpiBLImpl">
		<property name="incidentKpiVWDAO">
			<ref bean="incidentKpiVWDAO"/>
		</property>
	</bean>
	
	<!-- Control BL -->
	<bean id="igSDL03BL" class="com.deliverik.infogovernor.sdl.bl.IGSDL03BLImpl">
		<property name="sdlDefineInfoBL">
			<ref bean="sdlDefineInfoBL"/>
		</property>
	</bean>
	<bean id="igSDL04BL" class="com.deliverik.infogovernor.sdl.bl.IGSDL04BLImpl">
		<property name="sdlInfoBL">
			<ref bean="sdlInfoBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL" />
		</property>
		<property name="fileUploadBL">
			<ref bean="fileUploadBL" />
		</property>
	</bean>
	
	<bean id="igSDL05BL" class="com.deliverik.infogovernor.sdl.bl.IGSDL05BLImpl">
		<property name="sdlSummaryBL">
			<ref bean="sdlSummaryBL"/>
		</property>
		<property name="sdlYearSummaryBL">
			<ref bean="sdlYearSummaryBL"/>
		</property>
		<property name="sdlDefineInfoBL">
			<ref bean="sdlDefineInfoBL"/>
		</property>
		<property name="sdlInfoBL">
			<ref bean="sdlInfoBL"/>
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL"/>
		</property>
	</bean>
	
	<bean id="igSDL06BL" class="com.deliverik.infogovernor.sdl.bl.IGSDL06BLImpl">
		<property name="changeKpiBL">
			<ref bean="changeKpiBL"/>
		</property>
	</bean>
	
	<bean id="igSDL07BL" class="com.deliverik.infogovernor.sdl.bl.IGSDL07BLImpl">
		<property name="incidentKpiBL">
			<ref bean="incidentKpiBL"/>
		</property>
	</bean>
	

</beans>