<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 130225Begin 流程改造相关（指定分派机构） -->
   	<bean id="ig001BL" class="com.deliverik.framework.workflow.prd.bl.task.IG001BLImpl">
   		<property name="ig001DAO">
   			<ref bean="ig001DAO"/>
   		</property>
   	</bean>
	<bean id="ig123BL" class="com.deliverik.framework.workflow.prd.bl.task.IG123BLImpl">
		<property name="ig123DAO">
			<ref bean="ig123DAO"/>
		</property>
	</bean>
	<bean id="ig299BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG299BLImpl">
		<property name="ig299DAO">
			<ref bean="ig299DAO" />
		</property>
	</bean>
	<bean id="ig001DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prd.model.dao.IG001DAOImpl">
   	</bean>
	<bean id="ig123DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prd.model.dao.IG123DAOImpl">
	</bean>
	<bean id="ig299DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG299DAOImpl">
	</bean>
	<!-- 130225End -->
	<bean id="ig337DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG337DAOImpl">
	</bean>
	<bean id="ig500DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG500DAOImpl">
	</bean>
	<bean id="ig394DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG394DAOImpl">
	</bean>
	<bean id="ig036DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG036DAOImpl">
	</bean>
	<bean id="ig224DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG224DAOImpl">
	</bean>
	<bean id="ig599DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG599DAOImpl">
	</bean>
	<bean id="ig677DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG677DAOImpl">
	</bean>
	<bean id="ig359DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG359DAOImpl">
	</bean>
	<bean id="ig160DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG160DAOImpl">
	</bean>
	<bean id="ig003DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG003DAOImpl">
	</bean>
	<bean id="ig259DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG259DAOImpl">
	</bean>
	<bean id="ig380DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG380DAOImpl">
	</bean>
	<bean id="ig007DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG007DAOImpl">
	</bean>
	<bean id="ig243DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG243DAOImpl">
	</bean>
	<bean id="ig258DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG258DAOImpl">
	</bean>
	<bean id="ig019DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG019DAOImpl">
	</bean>
	<bean id="ig144DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG144DAOImpl">
	</bean>
	<bean id="ig512DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG512DAOImpl">
	</bean>
	<bean id="ig202DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG202DAOImpl">
	</bean>
	<bean id="ig881DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG881DAOImpl">
	</bean>
	<bean id="ig222DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG222DAOImpl">
	</bean>
	<bean id="ig333DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG333DAOImpl">
	</bean>
	<bean id="ig211DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG211DAOImpl">
	</bean>
	<bean id="ig273DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG273DAOImpl">
	</bean>
	<bean id="ig413DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG413DAOImpl">
	</bean>
	<bean id="ig156DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG156DAOImpl">
	</bean>
	<bean id="ig126DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG126DAOImpl">
	</bean>
	<bean id="ig699DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG699DAOImpl">
	</bean>
	<bean id="ig212DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG212DAOImpl">
	</bean>
	<bean id="ig237DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG237DAOImpl">
	</bean>
	<bean id="ig373DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG373DAOImpl">
	</bean>
	<bean id="ig113DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG113DAOImpl">
	</bean>
	<bean id="ig893DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG893DAOImpl">
	</bean>
	<bean id="ig064DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG064DAOImpl">
	</bean>
	<bean id="ig213DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG213DAOImpl">
	</bean>
	<bean id="ig298DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG298DAOImpl">
	</bean>
	<bean id="ig132DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG132DAOImpl">
	</bean>
	<bean id="ig725DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG725DAOImpl">
	</bean>
	<bean id="ig221DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG221DAOImpl">
	</bean>
	<bean id="ig900DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG900DAOImpl">
	</bean>
	<bean id="ig731DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG731DAOImpl">
	</bean>
	<bean id="ig715DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG715DAOImpl" />
	<bean id="ig933DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG933DAOImpl" />
	<bean id="ig692DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG692DAOImpl" />
	<bean id="ig787DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG787DAOImpl">
	</bean>
	<bean id="ig899DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG899DAOImpl">
	</bean>
	<bean id="ig992DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG992DAOImpl">
	</bean>
	<bean id="ig941DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG941DAOImpl" />
	<bean id="ig711DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG711DAOImpl">
	</bean>
	<bean id="ig463DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG463DAOImpl">
	</bean>
	<bean id="hworkVWDAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.HWorkVWDAOImpl">
	</bean>
	<bean id="ig808DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG808DAOImpl">
	</bean>
	<bean id="ig105DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG105DAOImpl">
	</bean>
	<bean id="ig567DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG567DAOImpl">
	</bean>
	<bean id="ig229DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG229DAOImpl">
	</bean>
	<bean id="ig433DAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG433DAOImpl">
	</bean>
	<bean id="ig286DAO"
	    parent="baseHibernateDAO"
			class="com.deliverik.framework.workflow.prd.model.dao.IG286DAOImpl">
	</bean>
	<bean id="ig700DAO"
	    parent="baseHibernateDAO"
			class="com.deliverik.framework.workflow.prd.model.dao.IG700DAOImpl">
	</bean>
	<bean id="ig701DAO"
	    parent="baseHibernateDAO"
			class="com.deliverik.framework.workflow.prd.model.dao.IG701DAOImpl">
	</bean>
	<bean id="ig233DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prd.model.dao.IG233DAOImpl">
	</bean>
	<bean id="ig108DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prd.model.dao.IG108DAOImpl">
	</bean>
	<bean id="ig898DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prr.model.dao.IG898DAOImpl">
	</bean>
	<bean id="ig555DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.IG555DAOImpl">
	</bean>
	<bean id="ig334DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prd.model.dao.IG334DAOImpl">
	</bean>
	<bean id="ig335DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prd.model.dao.IG335DAOImpl">
	</bean>
	<bean id="ig008DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prd.model.dao.IG008DAOImpl">
	</bean>
	
	<bean id="currentMonthWorkVWDAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prr.model.dao.CurrentMonthWorkVWDAOImpl">
	</bean>	
	<bean id="currentMonthWorkVWBL" class="com.deliverik.framework.workflow.prr.bl.task.CurrentMonthWorkVWBLImpl">
		<property name="currentMonthWorkVWDAO">
			<ref bean="currentMonthWorkVWDAO"/>
		</property>
	</bean>
	<bean id="ig700BL" class="com.deliverik.framework.workflow.prd.bl.task.IG700BLImpl">
		<property name="ig700DAO">
			<ref bean="ig700DAO"/>
		</property>
	</bean>
	<bean id="ig701BL" class="com.deliverik.framework.workflow.prd.bl.task.IG701BLImpl">
		<property name="ig701DAO">
			<ref bean="ig701DAO"/>
		</property>
	</bean>
	<bean id="ig911DAO"
	    parent="baseHibernateDAO"
			class="com.deliverik.framework.workflow.prd.model.dao.IG911DAOImpl">
	</bean>
	<bean id="ig931DAO"
	    parent="baseHibernateDAO"
			class="com.deliverik.framework.workflow.prd.model.dao.IG931DAOImpl">
	</bean>
	<bean id="ig505DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prr.model.dao.IG505DAOImpl">
	</bean>
	<bean id="ig506DAO" parent="baseHibernateDAO" class="com.deliverik.framework.workflow.prr.model.dao.IG506DAOImpl">
	</bean>
	<bean id="ig505BL" class="com.deliverik.framework.workflow.prr.bl.task.IG505BLImpl">
		<property name="ig505DAO">
			<ref bean="ig505DAO"/>
		</property>
	</bean>
	<bean id="ig506BL" class="com.deliverik.framework.workflow.prr.bl.task.IG506BLImpl">
		<property name="ig506DAO">
			<ref bean="ig506DAO"/>
		</property>
	</bean>
	<bean id="ig286BL" class="com.deliverik.framework.workflow.prd.bl.task.IG286BLImpl">
		<property name="ig286DAO">
			<ref bean="ig286DAO"/>
		</property>
	</bean>
	<bean id="ig337BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG337BLImpl">
		<property name="ig337DAO">
			<ref bean="ig337DAO" />
		</property>
	</bean>
	<bean id="ig500BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG500BLImpl">
		<property name="ig500DAO">
			<ref bean="ig500DAO" />
		</property>
		<property name="ig677DAO">
			<ref bean="ig677DAO" />
		</property>
		<property name="ig787BL">
			<ref bean="ig787BL" />
		</property>
		<property name="ig808DAO">
			<ref bean="ig808DAO" />
		</property>
		<property name="ig105BL">
			<ref bean="ig105BL" />
		</property>
		<property name="ig380BL">
			<ref bean="ig380BL" />
		</property>
		<property name="rehearseDAO">
            <ref bean="rehearseDAO"/>
        </property>
	</bean>
	<bean id="ig599BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG599BLImpl">
		<property name="ig599DAO">
			<ref bean="ig599DAO" />
		</property>
	</bean>
	<bean id="ig036BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG036BLImpl">
		<property name="ig036DAO">
			<ref bean="ig036DAO" />
		</property>
	</bean>
	<bean id="ig224BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG224BLImpl">
		<property name="ig224DAO">
			<ref bean="ig224DAO" />
		</property>
	</bean>
	<bean id="ig359BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG359BLImpl">
		<property name="ig359DAO">
			<ref bean="ig359DAO" />
		</property>
	</bean>
	<bean id="ig003BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG003BLImpl">
		<property name="ig003DAO">
			<ref bean="ig003DAO" />
		</property>
	</bean>
	<bean id="ig160BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG160BLImpl">
		<property name="ig160DAO">
			<ref bean="ig160DAO" />
		</property>
	</bean>
	<bean id="ig019BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG019BLImpl">
		<property name="ig019DAO">
			<ref bean="ig019DAO" />
		</property>
	</bean>
	<bean id="ig144BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG144BLImpl">
		<property name="ig144DAO">
			<ref bean="ig144DAO" />
		</property>
	</bean>
	<bean id="ig512BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG512BLImpl">
		<property name="ig512DAO">
			<ref bean="ig512DAO" />
		</property>
	</bean>
	<bean id="ig259BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG259BLImpl">
		<property name="ig259DAO">
			<ref bean="ig259DAO" />
		</property>
	</bean>
	<bean id="ig380BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG380BLImpl">
		<property name="ig380DAO">
			<ref bean="ig380DAO" />
		</property>
	</bean>
	<bean id="ig007BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG007BLImpl">
		<property name="ig007DAO">
			<ref bean="ig007DAO" />
		</property>
	</bean>
	<bean id="ig243BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG243BLImpl">
		<property name="ig243DAO">
			<ref bean="ig243DAO" />
		</property>
	</bean>
	<bean id="ig258BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG258BLImpl">
		<property name="ig258DAO">
			<ref bean="ig258DAO" />
		</property>
	</bean>
	<bean id="ig881BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG881BLImpl">
		<property name="ig881DAO">
			<ref bean="ig881DAO" />
		</property>
	</bean>
	<bean id="ig222BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG222BLImpl">
		<property name="ig222DAO">
			<ref bean="ig222DAO" />
		</property>
	</bean>
	<bean id="ig333BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG333BLImpl">
		<property name="ig333DAO">
			<ref bean="ig333DAO" />
		</property>
	</bean>
	<bean id="ig211BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG211BLImpl">
		<property name="ig211DAO">
			<ref bean="ig211DAO" />
		</property>
	</bean>
	<bean id="ig273BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG273BLImpl">
		<property name="ig273DAO">
			<ref bean="ig273DAO" />
		</property>
	</bean>
	<bean id="ig413BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG413BLImpl">
		<property name="ig413DAO">
			<ref bean="ig413DAO" />
		</property>
	</bean>
	<bean id="ig126BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG126BLImpl">
		<property name="ig126DAO">
			<ref bean="ig126DAO" />
		</property>
	</bean>
	<bean id="ig113BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG113BLImpl">
		<property name="ig113DAO">
			<ref bean="ig113DAO" />
		</property>
	</bean>
	<bean id="ig699BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG699BLImpl">
		<property name="ig699DAO">
			<ref bean="ig699DAO" />
		</property>
	</bean>
	<bean id="ig893BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG893BLImpl">
		<property name="ig893DAO">
			<ref bean="ig893DAO" />
		</property>
	</bean>
	<bean id="ig064BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG064BLImpl">
		<property name="ig064DAO">
			<ref bean="ig064DAO" />
		</property>
	</bean>
	<bean id="ig213BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG213BLImpl">
		<property name="ig213DAO">
			<ref bean="ig213DAO" />
		</property>
	</bean>
	<bean id="ig298BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG298BLImpl">
		<property name="ig298DAO">
			<ref bean="ig298DAO" />
		</property>
	</bean>
	<bean id="ig156BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG156BLImpl">
		<property name="ig156DAO">
			<ref bean="ig156DAO" />
		</property>
	</bean>
	<bean id="ig202BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG202BLImpl">
		<property name="ig202DAO">
			<ref bean="ig202DAO" />
		</property>
	</bean>
	<bean id="ig212BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG212BLImpl">
		<property name="ig212DAO">
			<ref bean="ig212DAO" />
		</property>
	</bean>
	<bean id="ig237BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG237BLImpl">
		<property name="ig237DAO">
			<ref bean="ig237DAO" />
		</property>
	</bean>
	<bean id="ig731BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG731BLImpl">
		<property name="ig731DAO">
			<ref bean="ig731DAO" />
		</property>
	</bean>
	<bean id="ig105BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG105BLImpl">
		<property name="ig105DAO">
			<ref bean="ig105DAO" />
		</property>
	</bean>
	<bean id="ig373BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG373BLImpl">
		<property name="ig373DAO">
			<ref bean="ig373DAO" />
		</property>
	</bean>
	<bean id="ig787BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG787BLImpl">
		<property name="ig787DAO">
			<ref bean="ig787DAO" />
		</property>
	</bean>
	<bean id="ig715BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG715BLImpl">
		<property name="ig715DAO">
			<ref bean="ig715DAO" />
		</property>
	</bean>
	<bean id="ig933BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG933BLImpl">
		<property name="ig933DAO">
			<ref bean="ig933DAO" />
		</property>
	</bean>
	<bean id="ig941BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG941BLImpl">
		<property name="ig941DAO">
			<ref bean="ig941DAO" />
		</property>
	</bean>
	<bean id="ig711BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG711BLImpl">
		<property name="ig711DAO">
			<ref bean="ig711DAO" />
		</property>
	</bean>
	<bean id="ig463BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG463BLImpl">
		<property name="ig463DAO">
			<ref bean="ig463DAO" />
		</property>
	</bean>
	<bean id="ig899BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG899BLImpl">
		<property name="ig899DAO">
			<ref bean="ig899DAO" />
		</property>
		<property name="ig599BL">
			<ref bean="ig599BL" />
		</property>
	</bean>
	<bean id="ig992BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG992BLImpl">
		<property name="ig992DAO">
			<ref bean="ig992DAO" />
		</property>
	</bean>
	<bean id="ig900BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG900BLImpl">
		<property name="ig900DAO">
			<ref bean="ig900DAO" />
		</property>
	</bean>
	<bean id="ig132BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG132BLImpl">
		<property name="ig132DAO">
			<ref bean="ig132DAO" />
		</property>
	</bean>
	<bean id="ig394BL"
		class="com.deliverik.framework.workflow.prr.bl.task.IG394BLImpl">
		<property name="ig394DAO">
			<ref bean="ig394DAO" />
		</property>
	</bean>
	<bean id="ig221BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG221BLImpl">
		<property name="ig221DAO">
			<ref bean="ig221DAO" />
		</property>
	</bean>
	<bean id="ig725BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG725BLImpl">
		<property name="ig725DAO">
			<ref bean="ig725DAO" />
		</property>
	</bean>
	<bean id="ig008BL" class="com.deliverik.framework.workflow.prd.bl.task.IG008BLImpl">
		<property name="ig008DAO">
			<ref bean="ig008DAO"/>
		</property>
	</bean>
	<bean id="workFlowDefinitionBL"
		class="com.deliverik.framework.workflow.WorkFlowDefinitionBLImpl">
		<property name="ig259BL">
			<ref bean="ig259BL" />
		</property>
		<property name="ig380BL">
			<ref bean="ig380BL" />
		</property>
		<property name="ig007BL">
			<ref bean="ig007BL" />
		</property>
		<property name="ig105BL">
			<ref bean="ig105BL" />
		</property>
		<property name="ig001BL">
			<ref bean="ig001BL" />
		</property>
		<property name="ig701BL">
			<ref bean="ig701BL" />
		</property>
		<property name="ig413BL">
			<ref bean="ig413BL" />
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL" />
		</property>
		<property name="ig222BL">
			<ref bean="ig222BL" />
		</property>
		<property name="ig373BL">
			<ref bean="ig373BL" />
		</property>
		<property name="ig243BL">
			<ref bean="ig243BL" />
		</property>
		<property name="ig298BL">
			<ref bean="ig298BL" />
		</property>
		<property name="ig213BL">
			<ref bean="ig213BL" />
		</property>
		<property name="ig911BL">
			<ref bean="ig911BL" />
		</property>
		<property name="ig299BL">
			<ref bean="ig299BL" />
		</property>
		<property name="ig931BL">
			<ref bean="ig931BL" />
		</property>
		<property name="ig123BL">
			<ref bean="ig123BL" />
		</property>
		<property name="ig156BL">
			<ref bean="ig156BL" />
		</property>
		<property name="ig286BL">
			<ref bean="ig286BL" />
		</property>
		<property name="ig132BL">
			<ref bean="ig132BL" />
		</property>
		<property name="ig221BL">
			<ref bean="ig221BL" />
		</property>
		<property name="ig881BL">
			<ref bean="ig881BL" />
		</property>
		<property name="ig273BL">
			<ref bean="ig273BL" />
		</property>
		<property name="ig725BL">
			<ref bean="ig725BL" />
		</property>
		<property name="ig126BL">
			<ref bean="ig126BL" />
		</property>
		<property name="ig699BL">
			<ref bean="ig699BL" />
		</property>
		<property name="ig202BL">
			<ref bean="ig202BL" />
		</property>
		<property name="ig212BL">
			<ref bean="ig212BL" />
		</property>
		<property name="ig237BL">
			<ref bean="ig237BL" />
		</property>
		<property name="ig992BL">
			<ref bean="ig992BL" />
		</property>
		<property name="ig258BL">
			<ref bean="ig258BL" />
		</property>
		<property name="ig233BL">
			<ref bean="ig233BL" />
		</property>
		<property name="ig108BL">
			<ref bean="ig108BL" />
		</property>
		<property name="ig334BL">
			<ref bean="ig334BL" />
		</property>
		<property name="ig335BL">
			<ref bean="ig335BL" />
		</property>
		<property name="ig700BL">
			<ref bean="ig700BL" />
		</property>
		<property name="ig008BL">
			<ref bean="ig008BL" />
		</property>
	</bean>
	<bean id="workFlowOperationBL"
		class="com.deliverik.framework.workflow.WorkFlowOperationBLImpl">
		<property name="ig711BL">
			<ref bean="ig711BL" />
		</property>
		<property name="ig463BL">
			<ref bean="ig463BL" />
		</property>
		<property name="ig933BL">
			<ref bean="ig933BL" />
		</property>
		<property name="ig715BL">
			<ref bean="ig715BL" />
		</property>
		<property name="ig506BL">
			<ref bean="ig506BL" />
		</property>
		<property name="ig898BL">
			<ref bean="ig898BL" />
		</property>
		<property name="ig505BL">
			<ref bean="ig505BL" />
		</property>
		<property name="ig500BL">
			<ref bean="ig500BL" />
		</property>
		<property name="ig599BL">
			<ref bean="ig599BL" />
		</property>
		<property name="ig337BL">
			<ref bean="ig337BL" />
		</property>
		<property name="ig036BL">
			<ref bean="ig036BL" />
		</property>
		<property name="fileUploadBL">
			<ref bean="fileUploadBL" />
		</property>
		<property name="attachmentBL">
			<ref bean="attachmentBL" />
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL" />
		</property>
		<property name="roleBL">
			<ref bean="roleBL" />
		</property>
		<property name="workFlowDefinitionBL">
			<ref bean="workFlowDefinitionBL" />
		</property>
		<property name="ig512BL">
			<ref bean="ig512BL" />
		</property>
		<property name="ig224BL">
			<ref bean="ig224BL" />
		</property>
		<property name="ig113BL">
			<ref bean="ig113BL" />
		</property>
		<property name="userBL">
			<ref bean="userBL" />
		</property>
		<property name="ig893BL">
			<ref bean="ig893BL" />
		</property>
		<property name="ig899BL">
			<ref bean="ig899BL" />
		</property>
		<property name="sendMessageBL">
			<ref bean="sendMessageBL" />
		</property>
		<property name="sendMailBL">
			<ref bean="sendMailBL" />
		</property>
		<property name="ig212BL">
			<ref bean="ig212BL" />
		</property>
		<property name="codeListUtils">
			<ref bean="codeListUtils" />
		</property>
		<property name="ig731BL">
			<ref bean="ig731BL" />
		</property>
		<property name="ig105BL">
			<ref bean="ig105BL" />
		</property>
		<property name="organizationBL">
            <ref bean="organizationBL" />
        </property>
        <property name="currentMonthWorkVWBL">
            <ref bean="currentMonthWorkVWBL" />
        </property>
	</bean>
	<bean id="hworkBL"
		class="com.deliverik.framework.workflow.prd.bl.task.HWorkBLImpl">
		<property name="hworkVWDAO">
			<ref bean="hworkVWDAO" />
		</property>
	</bean>
	<bean id="ig433BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG433BLImpl">
		<property name="ig433DAO">
			<ref bean="ig433DAO" />
		</property>
		<property name="ig567DAO">
			<ref bean="ig567DAO" />
		</property>
	</bean>
	<bean id="ig229BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG229BLImpl">
		<property name="ig229DAO">
			<ref bean="ig229DAO" />
		</property>
	</bean>
	<bean id="ig911BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG911BLImpl">
		<property name="ig911DAO">
			<ref bean="ig911DAO" />
		</property>
	</bean>
	<bean id="ig931BL"
		class="com.deliverik.framework.workflow.prd.bl.task.IG931BLImpl">
		<property name="ig931DAO">
			<ref bean="ig931DAO" />
		</property>
	</bean>
	<bean id="ig233BL" class="com.deliverik.framework.workflow.prd.bl.task.IG233BLImpl"> 
		<property name="ig233DAO">
			<ref bean="ig233DAO"/>
		</property>
	</bean>
	<bean id="ig108BL" class="com.deliverik.framework.workflow.prd.bl.task.IG108BLImpl">
		<property name="ig108DAO">
			<ref bean="ig108DAO"/>
		</property>
	</bean>
	<bean id="ig898BL" class="com.deliverik.framework.workflow.prr.bl.task.IG898BLImpl">
		<property name="ig898DAO">
			<ref bean="ig898DAO"/>
		</property>
	</bean>
	<bean id="ig555BL" class="com.deliverik.framework.workflow.prr.bl.task.IG555BLImpl">
		<property name="ig555DAO">
			<ref bean="ig555DAO"/>
		</property>
	</bean>
	<bean id="ig256BL" class="com.deliverik.framework.workflow.prd.bl.task.IG256BLImpl">
		<property name="ig256DAO">
			<ref bean="ig256DAO"/>
		</property>
	</bean>
	<bean id="ig256DAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prd.model.dao.IG256DAOImpl">
	</bean>
	<bean id="ig334BL" class="com.deliverik.framework.workflow.prd.bl.task.IG334BLImpl">
		<property name="ig334DAO">
			<ref bean="ig334DAO"/>
		</property>
	</bean>
	<bean id="ig335BL" class="com.deliverik.framework.workflow.prd.bl.task.IG335BLImpl">
		<property name="ig335DAO">
			<ref bean="ig335DAO"/>
		</property>
	</bean>

		<!-- SOC作息时间设定 -->
	<bean id="processTimeDAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.ProcessTimeDAOImpl">
	</bean>
	<bean id="processWorkTimeDAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.ProcessWorkTimeDAOImpl">
	</bean>
	<bean id="processWorkTimeTemplateDAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.workflow.prr.model.dao.ProcessWorkTimeTemplateDAOImpl">
	</bean>
	<bean id="processTimeBL"
		class="com.deliverik.framework.workflow.prr.bl.task.ProcessTimeBLImpl">
		<property name="processTimeDAO">
			<ref bean="processTimeDAO" />
		</property>
	</bean>
	<bean id="processWorkTimeBL"
		class="com.deliverik.framework.workflow.prr.bl.task.ProcessWorkTimeBLImpl">
		<property name="processWorkTimeDAO">
			<ref bean="processWorkTimeDAO" />
		</property>
	</bean>
	<bean id="processWorkTimeTemplateBL"
		class="com.deliverik.framework.workflow.prr.bl.task.ProcessWorkTimeTemplateBLImpl">
		<property name="processWorkTimeTemplateDAO">
			<ref bean="processWorkTimeTemplateDAO" />
		</property>
	</bean>
</beans>
