<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<!-- DAO -->
	<bean id="quartzJobDetailsTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.infogovernor.mtp.model.dao.QuartzJobDetailsTBDAOImpl">
	</bean>
	
	
	<!-- Task BL -->
	<bean id="quartzJobDetailsBL" class="com.deliverik.infogovernor.mtp.bl.task.QuartzJobDetailsBLImpl">
		<property name="quartzJobDetailsTBDAO">
			<ref bean="quartzJobDetailsTBDAO"/>
		</property>
	</bean>

	<!-- Control BL -->
	<!-- 日常运维任务BL -->
	<bean id="igmtp01BL" class="com.deliverik.infogovernor.mtp.bl.IGMTP01BLImpl">
		<property name="quartzJobsBL">
			<ref bean="quartzJobsBL"/>
		</property>
		<property name="quartzProcessRecordBL">
			<ref bean="quartzProcessRecordBL"/>
		</property>
		<property name="ig259BL">
			<ref bean="ig259BL"/>
		</property>
		
		<property name="ig380BL">
			<ref bean="ig380BL"/>
		</property>
		<property name="ig007BL">
			<ref bean="ig007BL"/>
		</property>
		
		<property name="ig731BL">
			<ref bean="ig731BL"/>
		</property>
		<property name="quartzProcessInfoEntityBL">
			<ref bean="quartzProcessInfoEntityBL"/>
		</property>
		
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL" />
		</property>
		<property name="quartzJobDetailsBL">
			<ref bean="quartzJobDetailsBL" />
		</property>
		
	</bean>
	
</beans>