<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- DAO -->
	
	<!-- BL -->
	
	<!-- TaskBL -->
	<bean id="eveproBL" class="com.deliverik.plugin.eventProcess.bl.EVEProBLImpl">
		<property name="ig334BL">
			<ref bean="ig334BL"/>
		</property>
		<property name="ig337BL">
			<ref bean="ig337BL"/>
		</property>
		<property name="ig333BL">
			<ref bean="ig333BL"/>
		</property>
		<property name="ig256BL">
			<ref bean="ig256BL"/>
		</property>
		<property name="workFlowOperationBL">
			<ref bean="workFlowOperationBL"/>
		</property>
		<property name="userBL">
			<ref bean="userBL"/>
		</property>
		<property name="userRoleBL">
			<ref bean="userRoleBL"/>
		</property>
		<property name="sendMessageBL">
			<ref bean="sendMessageBL"/>
		</property>
		<property name="sendMailBL">
			<ref bean="sendMailBL"/>
		</property>
		<property name="ig380BL">
			<ref bean="ig380BL"/>
		</property>
		<property name="flowSearchBL">
			<ref bean="flowSearchBL"/>
		</property>
        <property name="codeCategoryBL">
          <ref bean="codeCategoryBL" />
        </property>
        <property name="codeDetailBL">
            <ref bean="codeDetailBL" />
        </property>
        <property name="codeListUtils">
            <ref bean="codeListUtils" />
        </property>
	</bean>
	
	
</beans>

