@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
padding: 0; 
margin: 0; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
fieldset,img { 
border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-weight: normal; 
font-style: normal; 
} 
ol,ul { 
list-style: none; 
} 
caption,th { 
text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-weight: normal; 
font-size: 100%; 
} 
q:before,q:after { 
content:''; 
} 
abbr,acronym { border: 0; 
}

.brmm {
	height: 585px;
	width: 992px;
	background-color: #b7d9f8;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
}
.brmm_siderbar {
	float: left;
	height: 580px;
	width: 197px;
	background-color: #FFF;
	margin-right: 4px;
	border: 1px solid #aabdcf;
	display:inline;
}
.brmm_cont {
	float: left;
	height: 580px;
	width: 783px;
	background-color: #FFFFFF;
	border: 1px solid #aabdcf;
	overflow-y: scroll;
	overflow-x: hidden;
}
.block_info {
	height: 272px;
	width: 370px;
	border: 1px solid #467dbe;
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	 display:inline;
	/* [disabled]overflow: hidden; */
}
.block_info table ,.block_info  th,.block_info  td{
border: 1px solid #EAEAEA;
}
  .basic_info {
	height: 245px;
	overflow: auto;	
	width:370px;
	word-break: keep-all;	
}
.f_cont {
width: 370px;
height: 82px;
overflow: auto;
overflow-x: hidden;
}
.bd {
	float: left;
	height: 109px;
	width: 370px;
}
.bd_til {
	height: 25px;
	width: 370px;
	background-image: url(../../images/monitor/images/title_bg.gif);
	background-repeat: repeat-x;
		font-size: 14px;
	font-weight: bold;
	color: #0a629b;
	height: 27px;
	line-height: 26px;
}


.bc_til {
	height: 25px;
	width: 370px;
	background-image: url(../../images/monitor/images/title_bg2.gif);
	background-repeat: repeat-x;
		font-size: 14px;
	font-weight: bold;
	color: #0a629b;
	height: 27px;
	line-height: 26px;
}
.bd_cont table ,.bd_cont  th,.bd_cont td{
	border: 1px solid #EAEAEA;
}

.od_cont table ,.od_cont  th,.od_cont td{
	border: 1px solid #EAEAEA;
}



.od {
	float: left;
	height: 163px;
	width: 370px;
	/* [disabled]overflow: hidden; */
}
.od_cont {
	height: auto;
}


.bd_cont {
	
	height: 82px;
	word-break: keep-all;
	   	overflow:auto;
	overflow-x:hidden;
}





* {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#basic-accordian{
	width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: scroll;
	overflow-x:hidden;
     
}
#basic-accordian1 {
		width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x:hidden;
}
#basic-accordian2 {
		width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x:hidden;
}
#basic-accordian3 {
	width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x: hidden;
}
#basic-accordian4 {
		width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x:hidden;
}
#basic-accordian5 {
		width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x:hidden;
}
#basic-accordian6 {
		width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x:hidden;
}
#basic-accordian7 {
		width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x:hidden;
}
#basic-accordian8 {
		width: 370px;
	/* [disabled]z-index: 2; */
	height: 163px;
	overflow: auto;
	overflow-x:hidden;
}


.accordion_headings{
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	height: 17px;
	background-image: url(../../images/monitor/images/002.jpg);
	background-repeat: no-repeat;
	padding-right: 5px;
	padding-left: 25px;
	padding-top: 3px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFF;
}

.accordion_child{
	background-color: #FFF;
}

.header_highlight{
	background-image: url(../../images/monitor/images/001.jpg);
	background-repeat: no-repeat;
}

.alert {
	float: right;
}
.icon {
	float: left;
	color: #0a629b;
	padding-left: 5px;
	font-size: 11px;
	
}
.icon div{
	display: none;
	position:absolute;
	z-index:0;
	background:#ffffff;
	width: 300px;
	word-break:break-all;
}
.tilf div{
	display: none;
	position:absolute;
	z-index:0;
	background:#ffffff;
	width: 300px;
	word-break:break-all;
	font-size: 11px;
	line-height: normal;
}
.e_name {
	float: left;
}
.brmm table ,.brmm th,.brmm td
{
 border: 1px solid #EAEAEA;
}

.od_cont table {
	border: 1px solid #EEE;
}

.od_cont table tr td {
	height: 17px;
	padding-left: 10px;
}
.bd table tr td {
	height: 18px;
	padding-left: 10px;
}
.bd table tr th {
	height: 23px;
	background-color: #f4f4f4;
	font-size: 12px;
	color: #0a629b;
	padding-left: 10px;
}

.or_font {
	color: #e86c19;
}
.blufont {
	color: #0a629b;
	font-weight: bold;
}

.ictn {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.tilf {
	float: left;
}
.waring {
	float: right;
	padding-top: 7px;
	padding-right: 5px;
}
.basic_info table tr td {
	height: 19px;
	padding-left: 5px;
}
.basic_info table tr td img {
	vertical-align: bottom;
	margin-right: 5px;
	
}
.bcserh {
	height: 23px;
	width: 198px;
	padding-top: 20px;
}
.bcserhipt {
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}
.bcserhbtn {
	float: left;
	width: 60px;
}
#i_btn {
	background-image: url(../../images/monitor/images/btn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	height: 26px;
	width: 68px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

