<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<!-- 附件操作 -->
	<bean id="attachmentTBDAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.model.dao.AttachmentTBDAOImpl">
	</bean>
	 <!-- 代码分类信息操作 -->
	<bean id="codeCategoryTBDAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.model.dao.CodeCategoryTBDAOImpl">
	</bean>
	<!-- 代码详细信息操作 -->
	<bean id="codeDetailTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.model.dao.CodeDetailTBDAOImpl">
	</bean>
	<!-- Task BL -->
	<bean id="attachmentBL"
		class="com.deliverik.framework.bl.AttachmentBLImpl">
		<property name="attachmentTBDAO">
			<ref bean="attachmentTBDAO" />
		</property>
	</bean>
	<bean id="codeListUtils"
		class="com.deliverik.framework.utility.CodeListUtils" init-method="init">
	    <property name="codeDetailBL">
	    	<ref bean="codeDetailBL"/>
	    </property>
	</bean>
    <bean id="userPermissionBL" class="com.deliverik.framework.security.UserPermissionBLImpl" scope="prototype">
        <property name="userRoleVWDAO">
            <ref bean="userRoleVWDAO"/>
        </property>
        <property name="roleActionVWDAO">
            <ref bean="roleActionVWDAO"/>
        </property>
        <property name="actionBL">
            <ref bean="actionBL"/>
        </property>
    </bean>

    <bean id="fileUploadBL" class="com.deliverik.framework.bl.FileUploadBLImpl">
    	<property name="attachmentBL">
            <ref bean="attachmentBL"/>
        </property>
    </bean>
   
	<bean id="codeCategoryBL" class="com.deliverik.framework.bl.CodeCategoryBLImpl">
		<property name="codeCategoryTBDAO">
			<ref bean="codeCategoryTBDAO" />
		</property>
	</bean>
	<bean id="codeDetailBL"
		class="com.deliverik.framework.bl.CodeDetailBLImpl">
	    <property name="codeDetailTBDAO">
	    	<ref bean="codeDetailTBDAO"/>
	    </property>
	</bean>
	<!--基础数据 数据定义-->
    <bean id="codeDetailDefBL"
		class="com.deliverik.framework.bl.CodeDetailDefBLImpl">
	    <property name="codeDetailDefTBDAO">
	    	<ref bean="codeDetailDefTBDAO"/>
	    </property>
	</bean>
	<bean id="codeDetailDefTBDAO"
	    parent="baseHibernateDAO"
		class="com.deliverik.framework.model.dao.CodeDetailDefTBDAOImpl">
	</bean>
	<bean id="codeCategoryDefiBL" class="com.deliverik.framework.bl.CodeCategoryDefiBLImpl">
		<property name="codeCategoryDefTBDAO">
			<ref bean="codeCategoryDefTBDAO" />
		</property>
	</bean>
	<bean id="codeCategoryDefTBDAO" parent="baseHibernateDAO"
		class="com.deliverik.framework.model.dao.CodeCategoryDefTBDAOImpl">
	</bean>
	<bean id="excelBaseBL" class="com.deliverik.framework.base.ExcelBaseBLImpl" abstract="true">
		<property name="codeDetailBL">
			<ref bean="codeDetailBL" />
		</property>
	</bean>
</beans>
