body{
	font-family: '微软雅黑', 'Microsoft YaHei UI';
}
.icon{height:30px;width:30px;cursor: pointer;display: inline-block;background-image: url("../../images/drm/icon.png");}
.icon1{background-position: 0px 0px;}
.icon2{background-position: -30px 0px;}
.icon3{background-position: -63px 0px;}
.icon4{background-position: -105px -8px;}
.icon5{background-position: -130px 0px;}
.box{
	background-image:url("../../images/drm/bluebg.jpg");
	color: rgb(186,202,226);
	width: 1024px;
	margin: 2px auto;
	height: 760px;
	overflow-y: scroll;
}
.main{
	width: 1000px;
  	margin: 10px auto;
	background-color:rgba(4,23,51,.7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2041733,endColorstr=#b2041733);
}
.curStatusBox{
	width: 300px;
	float: left;
	height: 30px;
	margin-top:12px;
	line-height: 30px;
	margin-left: 50px;
	font-size: 14px;
}
.curStatusBox select{
	width: 234px;
}
.tabBox ul{
	list-style:none;
	float: left;
	margin:0px;
	margin-top:12px;

}
.tabBox ul li{
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	border: 1px solid;
	border-bottom: 0px;
	width: 150px;
	text-align: center;
	float: left;
	margin-left: 0px;
	color: #818eaa;
	background-color:rgba(34,53,84,.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c223554,endColorstr=#4c223554);
	cursor: pointer;
}
.tabBox ul li.this{
	color:#0187e2;
	border-color: #0154c2;
	background-color: rgba(34,53,84,.3);
}
.tabContentGroup{
	clear: both;
}
.tabContentGroup textarea{
	width: 96%;
	height: 120px;
	overflow: auto;
	border:1px solid #15388B;
	background-color: #164D85;
	color:#fff;
}
.tabContent{
	padding-left:10px;
	padding-right:10px;
}
.process_detail{
	border: 1px solid #2351C0;
	padding: 3px;
}
.table{
	width: 100%;
	border-spacing: collapse;
}
#formscontent td{
	border-collapse: collapse;
	overflow: hidden;
	width: 260px;
}
.table th{
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	width: 140px;
}
.table td input {
	height: 20px;
	width:100%;
	line-height: 20px;
	background-color: #164D85;
	border:1px solid #15388B;
	color:#fff;
	
}
 select {
	height: 24px;
	width:100%;
	background-color: #164D85;
	color:#fff;
	border:1px solid #15388B;
	height: 20px;
}
#titlename{
	color: #ffffff;
	font-size: 24px;
	text-indent: 2em;
	width: 40%;
	height:30px;
}
#startTimeBox{
	color: #ffffff;
	width:100%;
	font-family: 微软雅黑;
	font-size: 9pt;
	float: left;
	height:30px;
	line-height:30px;
	border: 1px solid #00a0ff;
	text-align: left;
	background-color: #022c77;
	color:#00a0ff;
	font-weight:bold;
	text-indent: 1em;
}
#usedTimeBox{
	color: #ffffff;
	font-family: 微软雅黑;
	font-size: 9pt;
	float: left;
	vertical-align: middle;
	height:30px;
	line-height:30px;
	text-align: left;
	color:#ff0000;
	font-weight:bold;
	text-indent: 1em;
}
#endTimeBox{
	color: #ffffff;
	font-family: 微软雅黑;
	width:100%;
	font-size: 9pt;
	float: left;
	height:30px;
	border: 1px solid #31e80c;
	text-align: left;
	background-color: #134f06;
	line-height:30px;
	font-weight:bold;
	text-indent: 1em;
}
.btn{
	color: white;
	border: 1px solid #2D3E58;
	background-color: #223554;
	display: block;
	width: 100px;
	border: 1px solid;
	margin-right: 20px;
	cursor: pointer;
	margin-left: 1em;
	height: 24px;
}
.chkBox input{
	width: 12px!important;
	line-height: 12px;
	background-color:transparent!important;
	border: 0px!important;
}
.chkBox{
	
	line-height: 12px!important;
	vertical-align: middle;
	border: 0px;
}
.btn:hover {
	line-height: 16px;
	border: 1px solid #283A59;
	background-color: #0367D5;
}
#btnTd{
	text-align: right;
	vertical-align: bottom;
}
#btnTd .btn{
	margin-top: 5px;
	margin-bottom: 4px;
}
.editDiv{
	height:80px;;
	margin-left:1px;
	overflow-x:hidden; 
	overflow-y:auto; 
	border:1px solid #15388B;
	background-color: #164D85;
	color:#fff;
	padding: 0px;
	margin: 0px -2px;
	word-wrap: break-word;
	display: block;
/* 	width: 100%; */
/* 	max-width: 100%; */
/* 	word-break:break-all; */
}

.allRow{
	width: 670px;
}
.halfRow{
	width:262px;
}
input, select,textarea{
	padding: 0px!important;
	margin: 0px!important;
	font-size: 12px!important;
}
.statusBox{
	margin-top: 10px;
	border: 1px solid #2351C0;
	clear: both;
}
.statusList{
	border-left: 1px solid #2351C0;
	border-right: 1px solid #2351C0;
	border-bottom: 1px solid #2351C0;
	display: block;
}
#statusContent{
	border-collapse: collapse;
	width: 100%;
}
#statusContent tr th{
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	height: 24px;
	background: #052588;
}
#statusContent span{
	 height:16px;width:16px;
	 margin-top:2px;
	 line-height: 22px;
	 display: inline-block;
}
#statusContent tr{
	border-bottom: 1px solid #031A3C;
}

#statusContent tr td{
	background: rgba(32,77,168,1);
	height: 24px;
	font-size: 14px;
}
#statusContent .cur td{
	background: #0258AD;
}
#statusContent .his td{
	background:#1E355F;
	background:rgba(21,50,106,1);
}
#statusContent .his input,#statusContent .cur input{
	display: none;
}
.hide{
	display: none;
}

.bottomtd{
	vertical-align: bottom!important;
}
#maskbox{
	display: none;  
	position: absolute; 
	top: 0%;
	left: 0%;  
	width: 100%;
	  height: 100%;  
	background-color: black; 
	z-index:1001; 
	-moz-opacity: 0.7;  opacity:.70;  filter: alpha(opacity=70);
}
.popwin{
	position: absolute;
	background-color: rgba(4,28,63,0.7);
	z-index: 1002;
	display: block;
	border: 1px solid rgb(35, 81, 192);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66041C3F,endColorstr=#66041C3F);
	
}
.popwin .close-icon{
	position:absolute;
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	font-weight: 800;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	z-index:11;
/* 	float: right; */
top:0px;
right:0px;
	cursor: pointer;
}
.ellips{
width:200px;
}
.ellips div{
width:200px;
white-space:nowrap; 
text-overflow:ellipsis; 
overflow:hidden;}
.logTB{
	width: 98%;
	border-collapse: collapse;
	margin: 0 auto;
}
.logTB tr{
	border: 1px solid #031A3C;
}
.logTB th{
	background-color:#0952BF;
	color: #fff;
	height: 24px;
	font-size: 14px;
}
.logTB td{
	background-color: #09225A;
	color: #93AEDE;
	height: 20px;
	padding-left: 1em;
}
.leftTd{
	text-align: left;
}
.titBar{
	height: 21px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding-left: 2em;
	background: #0258ad;
}.titBar span{
	color: #000;
}
#rlshowvaluediv{
	word-wrap:break-word;
	position:absolute;
	z-index: 9999;
	width: 400px;
	min-height: 50px;
	background-color: #eee;
	border:1px solid #ccc;
}
#rlshowvaluediv #title{
	width:395px;
	height:23px;
	line-height:23px;
	font-weight: bold;
	background:url(images/title-23.gif);
	padding-left:5px;
}
#rlshowvaluediv #title #fountDiv{
	width:100px;
	height:23px;
	float: left;
}
#rlshowvaluediv #title #imgDiv{
	width:30px;
	height:23px;
	float: right;
	padding-top:3px;
	cursor: hand;
}
#rlshowvaluediv #content{
	width:395px;
	padding:5px;
	line-height: 20px;
}
.checkbox{
	width:14px !important;
	height:14px !important;
}
.editIcon{
	width:16px;
	height: 16px;
	background-image: url(../../images/drm/pic01.png);
	cursor: pointer;
}
.tbdesc{
	width: 98%;
	border: 1px solid #0258AD;
	border-collapse: collapse;
	border-spacing: 0px;
	color: #fff;
	margin: 5px auto;
	text-align: center;
	background: #010D24;
}
.tbdesc th{
	
}
.tbdesc textarea{
	background:#164D85;
	width: 95%;
	height: 150px;
	border: 1px solid #15388B;
	color: white!important;
}
.tbdesc td{
	text-align: right;
}
.tbdesc .btn{
	margin-top: 5px!important;
	margin-right: 20px!important;
	margin-left: auto!important;
}
.logtb td{
	word-break: break-all; 
    word-wrap:break-word;
}