@charset "utf-8";
/* CSS Document */
body {
	padding: 0px;
	margin: 0px;	
	font-size: 12px;
	color: #000000;
	word-break: break-all
}
a {
	color: #000000;
	text-decoration: none
}
a:hover {
	color: #0066CC;
	text-decoration: none
}
div {
	 padding: 0px;
	 margin: 0px;
	 margin-left: 10px;
	 border: 0px;
	 
}
.content{
     font-size: 12px;
	 padding: 0px;	 
}
.content h4 {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	margin: 10px 0px;
}
.content h5 {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	margin: 10px 0px;
}
.content p {
	text-indent: 24px;
	line-height: 18px;
	letter-spacing: 1px;
}
.attention{
     font-size: 12px;
	 padding: 0px;	 
}
.attention span {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

.attention li{
	text-indent: 40px;
	list-style-type: disc;
        line-height: 18px;
	letter-spacing: 1px;
        
}
.page{
	font-size: 12px;
	padding: 0px;
	text-align: center;
	margin-top: 50px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}
ul {
	padding: 0px; 
	margin: 0px; 
	border: 0px;
}
li {
	padding: 0px;
	margin: 0px;
	border: 0px;
	list-style-type: none;
}

.list_2 li {
	padding-left: 10px;
	padding-top: 5px;
	height: 20px;
	list-style-type: none;
}
.list_3 li {
	background-position: 0px 5px;
	padding-left: 55px;
	background-image: url(list.gif);
	padding-top: 5px;
	background-repeat: no-repeat;
	height: 20px;
	list-style-type: none;
}
