<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 
	<!-- DAO -->
	<bean id="alermSendMailQueueDAO" parent="baseHibernateDAO" class="com.deliverik.plugin.mail.model.dao.AlermSendMailQueueDAOImpl" />
	
	<!-- TaskBL -->
	<bean id="alermSendMailQueueBL" class="com.deliverik.plugin.mail.bl.task.AlermSendMailQueueBLImpl">
		<property name="alermSendMailQueueDAO">
			<ref bean="alermSendMailQueueDAO"/>
		</property>
	</bean>

</beans>

