<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
 
	<!-- DAO -->
	<bean id="sendSmsLogDAO" parent="baseHibernateDAO" class="com.deliverik.plugin.sms.model.dao.SendSmsLogDAOImpl" />
	<bean id="smsQueueDAO" parent="baseHibernateDAO" class="com.deliverik.plugin.sms.model.dao.SmsQueueDAOImpl" />
	
	<!-- TaskBL -->
	<bean id="sendSmsLogBL" class="com.deliverik.plugin.sms.bl.task.SendSmsLogImpl">
		<property name="sendSmsLogDAO">
			<ref bean="sendSmsLogDAO"/>
		</property>
	</bean>
	
	<bean id="smsQueueBL" class="com.deliverik.plugin.sms.bl.task.SmsQueueBLImpl">
		<property name="smsQueueDAO">
			<ref bean="smsQueueDAO"/>
		</property>
	</bean>

</beans>

