@charset "utf-8";
body {
	font-size: 12px;
}

form {
	margin: 0;
	paddding: 0;
}
#calendar {
	width: 98%;
	margin: 20px auto;
	text-align:center;
}
.change_month {
	text-align: left;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 30px;
}
ul.week_name {
	border-top: 1px solid #DCDDE2;
	border-right: 1px solid #DCDDE2;
	border-bottom: 1px solid #DCDDE2;
	margin: 0;
	padding: 0;
	width: 637px;
	height: 30px;
}

ul.week_name li {
	border-left: 1px solid #DCDDE2;
	float: left;
	height: 30px;
	line-height: 30px;
	width: 90px;
	list-style-type: none;
	text-align: center;
	background: #F4FBFC;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

ul.week_day {
	border-left: 1px solid #DCDDE2;
	margin: 0;
	padding: 0;
	width: 637px;
	font-size: 14px;
}

ul.week_day li {
	border-right: 1px solid #DCDDE2;
	border-bottom: 1px solid #DCDDE2;
	float: left;
	line-height: 16px;
	height: 40px;
	width: 80px;
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 5px;
	background: #FCFCFC;
}

ul.week_day li a:link {
	color: #000;
	text-decoration: none;
}

ul.week_day li a:visited {
	color: #666;
	text-decoration: none;
}

ul.week_day li a:hover {
	color: #666;
	text-decoration: underline;
}

ul.week_day li:hover {
	background: #FFFFCC;
}

ul.week_day li.today {
	background: #fffad9;
}

ul.week_day li.saturday {
	color: #009900;
}

ul.week_day li.saturday a {
	color: #009900;
}
ul.week_day li.sunday {
	color: #FF0000;
}

ul.week_day li.sunday a {
	color: #FF0000;
}

ul.week_day li.not_this_month {
	color: #CCCCCC;
}