@charset "utf-8";
/* CSS Document */

body {margin: 0px; padding: 0px; font-size: 12px;}
* {padding: 0px; margin: 0px; list-style-type: none;}
img {border: none;}
a {font-size: 12px;	text-decoration: none; }
a:hover{font-size: 12px; text-decoration: none; }


.new_wtitles{width:701px; height:22px;}
.new2{width:136px; height:22px; float:left; background-image:url(../images/menupic01.png);}
.new2 li{font-size:14px; color:#FFF; font-weight:bold; text-align:center; padding-top:2px; font-family:"宋体"; list-style:none;}
.new3{width:505px; height:22px; float:left;}
.new4{width:60x; height:22px; float:left;}
.new4{ color:#bc0217;}
