@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
padding: 0; 
margin: 0; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
fieldset,img { 
border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-weight: normal; 
font-style: normal; 
} 
ol,ul { 
list-style: none; 
} 
caption,th { 
text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-weight: normal; 
font-size: 100%; 
} 
q:before,q:after { 
content:''; 
} 
abbr,acronym { border: 0; 
}


.ig_licont {
	height: 578px;
	width: 1002px;
}


.ctn {
	height: 1080px;
	width: 1920px;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
}
.icon {
	float: left;
	height: 50px;
	width: 1920px;
}

.lc {
	float: left;
	height: 262px;
	width: 476px;
	margin-top: 15px;
	margin-left: 15px;
	display: inline;
}
.lc_til {
	float: left;
	height: 28px;
	width: 476px;
	background-image: url(../images/tilbg.jpg);
	background-repeat: no-repeat;
	background-position: left;
}
.lc_cont {
	height: 234px;
	width: 476px;
	float: left;
	background-color: #FFF;
	border: 1px solid #003360;
}
.lt {
	float: left;
	width: 476px;
}

.listscr {
	height: 204px;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	width: 476px;
}
.lc_tt {
	background-image: url(../images/icon.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
	color: #FFF;
	display: block;
	margin-left: 10px;
	float: left;
	width: 200px;
}
.detail {
	display: block;
	float: right;
	height: 22px;
	padding-top: 6px;
}
.lc_cont table tr th {
	height: 22px;
	background-color: #d3e9ff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 22px;
}
.lc_cont table tr td {
	height: 28px;
	border: 1px solid #eeeeee;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
}
.scrollRowThead{
	position: relative; 
	left: expression(
	this.parentElement.parentElement.parentElement.parentElement.scrollLeft);
	z-index:0;
}

.scrollColThead {
	position: relative;
	top: expression(this.parentElement.parentElement.parentElement.scrollTop);
	z-index:2;
}

.scrollCR { 
	z-index:3;
}

.scrollDiv {
	height: 230px;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	width: 476px;
}

.scrollColThead td,.scrollColThead th { 
	text-align: center ;
}

.scrollRowThead,.scrollColThead td,.scrollColThead th {
	background-color:EEEEEE;
}
.t_r_content{
	width:100%; 
	height:420px; 
	background:#ffff; 
	overflow:auto;
} 
.t_r{
	width:93%;
	height:420px; 
	float:left;
} 
.t_r table{
	width:980px;
} 
.t_r_title{
	width:1000px;
}
.t_r_t{
	width:100%; 
	overflow:hidden;
} 
.t_left{
    width:7%;height:400px; float:left;
    } 
.cl_freeze{
    height:400px;overflow:hidden; 
} 