body{margin:0px;padding:0px;font-size:12px;}
.wrap{ width:100%; margin:0px auto;}

ul{margin:0px;padding:0px; list-style:none;}

.b{ font-weight:bold;}


/* 颜色 */



.cRed,a.cRed:link,a.cRed:visited{color:#ba0215; text-decoration:none;}
a.cRed:hover{color:#ba0215; text-decoration:underline; }
.cBlack,a.cBlack:link,a.cBlack:visited{color:#303030; text-decoration:none;}
a.cBlack:hover{color:#303030; text-decoration:underline; }





/* 第2横条*/
.bar2 { width:1002px; height:210px; margin:0 auto; clear:both; margin-top:10px;}
.bar2 .left { width:1002px; height:210px; float:left;}
.bar2 .left .qiehuan { width:1002px; height:222px; float:left;}
.bar2 .left .Contentbox{  width:1002px; height:187px;border:1px solid #cccccc; margin-top:22px;*margin-top:0px;}
.bar2 .left .qiehuan .qiehuan-menubox1 span{ width:16px;height:16px; float:left; margin-right:5px; margin-top:4px;}
.bar2 .left .qiehuan .qiehuan-menubox2 { width:100px;height:23px; float:left; position:relative; line-height:23px; left:470px;}
.bar2 .left .qiehuan .qiehuan-menubox3 { width:47px;height:23px; float:left; position:relative; line-height:23px; left:430px;}
.bar2 .left .qiehuan .qiehuan-menubox31 { width:47px;height:23px; float:right; position:relative; line-height:23px; left:0px;}
.bar2 .left .qiehuan .qiehuan-menubox { width:418px;height:23px; float:left; position:relative;left:0px;}
.bar2 .left .qiehuan .qiehuan-menubox li{ width:136px; height:23px;float:left;line-height:23px;font-size:12px;color:#414448; cursor:pointer; text-align:center;background:url(../images/zshmenu1.png);}
.bar2 .left .qiehuan .qiehuan-menubox .hover{ height:23px;float:left;line-height:23px;color:#fff; background: url(../images/zshmenu1-1.png) no-repeat;width:136px; font-weight:bold;}
.bar2 .left .Contentbox-qiehuan{ width:722px;}
.bar2 .left .Contentbox-qiehuan .box{width:722px; background-color:#fff;}
.bar2 .left .Contentbox-qiehuan .k { width:707px; height:170px; position:relative; top:10px;margin:0 auto; margin-left:10px;}

.table { width:980px;border-collapse:collapse;}
.table  th{ height:27px; background-color:#ba0215;text-align: center; color:#fff; line-height:27px;font-size:12px; text-indent:10px;}
.table  td{ height:27px; text-align:center;line-height:27px;font-size:12px;text-indent:10px;}

/* 第3横条*/
.bar3 { width:1002px; height:168px; margin:0 auto; clear:both; margin-top:10px;}
.bar3 .left { width:493px; height:168px;border:1px solid #cccccc; float:left;}
.bar3 .left .top{ width:493px; height:29px; background:url(../images/pic0101.jpg) repeat-x; line-height:29px; color:#ba0215;float:left; font-weight:bold;}
.bar3 .left .top span{ width:18px; height:18px;float:left; margin:5px;}
.bar3 .left .fxlistbox{ width:440px; height:100px; margin:0px auto; clear:both; margin-top:40px;*margin-top:15px;}
.bar3 .left .fxlistbox li{ width:210px; height:22px; float:left; line-height:22px; color:#303030; margin-right:5px; margin-top:12px;}
.bar3 .left .fxlistbox li .fxpic{ width:21px; height:21px; float:left;}
.bar3 .left .fxlistbox li span{ width:50px; height:22px; float:right;line-height:22px;}
.bar3 .right { width:493px; height:168px;border:1px solid #cccccc; margin-left:10px; float:left;}
.bar3 .right .top{ width:493px; height:29px; background:url(../images/pic0101.jpg) repeat-x; line-height:29px; color:#ba0215;float:left; font-weight:bold; position:relative;}
.bar3 .right .top span{ width:18px; height:18px;float:left; margin:5px;}
.bar3 .right .top .more{ width:50px; height:25px; float:right; font-weight:normal; position:absolute; left:445px; top:0px;}
.bar3 .right .fxlistbox1{ width:468px; height:120px; margin:0px auto; clear:both; margin-top:40px;*margin-top:15px;}
.bar3 .right .fxlistbox1 .menu{ width:468px; height:22px; line-height:22px; float:left; color:#000; font-weight:bold;}
.bar3 .right .fxlistbox1 .menu .fxpic1{ width:15px; height:15px; float:left; margin-top:5px;}
.bar3 .right .fxlistbox1 .nr{ width:468px; height:50px; line-height:22px; float:left; color:#5d666e; text-align:left; text-indent:2em; border-bottom:1px dashed #a2a9b0;}
.bar3 .right .fxlistbox1 .nrlist{ width:468px; height:44px; float:left;}
.bar3 .right .fxlistbox1 .nrlist li{ width:468px; height:22px; float:left; line-height:22px; margin-top:3px;}
.bar3 .right .fxlistbox1 .nrlist li span{height:22px; float:right;line-height:22px; color:#616161;}
.bar3 .right .fxlistbox1 .nrlist .fxpic2{ width:6px; height:6px; float:left; margin:8px 5px 0 0;}

.tdbg0{
	background-color: #feedf0; color: #303030;
}
.tdbg1{
	background-color: #fff; color: #303030;
}