
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 12px;
	overflow-x: hidden;
	text-align: center;
}
.dvPanel{
	float:left;
	margin: 10px 5px;
	
}

.dvblock .dvTitle{
	width: 100%;
	background-image:url("../images/bg_titlevim101.png");
	font-size: 14px;
	height: 25px;
	vertical-align: middle;
	line-height: 25px;
}
.dvblock .dvTitle .titText{
	float:left; 
	width:70%;
	text-align: left;
	text-indent: 15px;
	color: #1C87E1;
	font-weight: 800;
	
}
.dvContent{
	width: 100%;
	
}
.dvblock{
	margin-bottom: 10px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 10px;
	width:100%;
	
}
.dvblock_vcd_vm{
	margin-bottom: 10px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 10px;
	width:100%;
	background-image:url("../images/bg_cloudvm.jpg");
}

.dvblock_vcd_host{
	margin-bottom: 10px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 10px;
	width:100%;
	background-image:url("../images/bg_cloudhost.jpg");
}

#Content{
	width:1002px;
	margin: 0 auto;
}
#LeftPanel{
	width:220px;
}
#Main{
	width:758px;
}
#Navi{
	padding: 0;
}
#Menu{
	margin: 0 auto;
}
#Menu ul{
	list-style: none;
	width: 100%;
	margin: 0px;
	
}
#Menu li{
	width: 100%;
	font-size: 14px;
	background-image:url("../images/bg_titlevim102.png");
	height: 45px;
	line-height: 45px;
	margin-bottom:1px;
	text-align: left;
	color: #000;
	text-indent: 25px;
}
#Menu li a{
color: #000;
}
#Menu li img{
	line-height: 45px;
	vertical-align:middle;
}
a{
	text-decoration: none;
}
a img{
	border: 0px;
	margin-left: 15px;
}
.dvMore{
	width: 100px;
	float: right;
	height: 28px;
	font-size: 14px;
}

.hover_style{
	font-size: 20px;
	background-color: #70CDEE;
	cursor: pointer;
}
.tdTitle{
	text-align: left;
	font-size: 12px;
	
	
}
.tdContent{
	text-align: right;
	font-size: 26px;
	font-family: Arial;
	
	color: #F00;
}
.rs_tb_style{
	width:100%;
	border:0px;
	border-collapse: collapse;
	height: 50px;
	color: #3B3B3B;
}
.rs_tb_style th{
	font-size: 14px;
	border-top: 1px solid #CCC;
	height: 20px;
	width:40%;
	text-align: right;
}
.rs_tb_style td{
	border-top: 1px solid #CCC;
}
.rs_tb_style1{
	width:100%;
	border:0px;
	border-collapse: collapse;
	height: 50px;
	color: #3B3B3B;
}
.rs_tb_style1 th{
	font-size: 14px;
	border: 1px solid #CCC;
	background: #E2F0FF;
}
.rs_tb_style1 td{
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.dvSerMenu{
	border: 1px solid #4081BE;
	margin-bottom: 10px;
}
.dvSerMenu .dvTitle{
	background-color: #4081BE;
	width: 100%;
	font-size: 14px;
	height: 25px;
	vertical-align: middle;;
	line-height: 25px;
}
.dvSerMenu .dvTitle .titText{
	color: #fff;
	float:left; 
	width:70%;
	text-align: left;
	text-indent: 15px;
	font-weight: 800;
}

.hover_style{
	font-size: 20px;
	background-color: #3e1988;
	cursor: pointer;
}
.hover_td{
	background-color: #f5f5f5;
	cursor: pointer;
}
.tbFigure{
	border: 0px;
	background: #f3f3f3;
	width:208px;
	margin: 5px;
	
}