@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,input,textarea,p,blockquote,th,td { 
padding: 0; 
margin: 0; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
fieldset,img { 
border: 0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-weight: normal; 
font-style: normal; 
} 
ol,ul { 
list-style: none; 
} 
caption,th { 
text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-weight: normal; 
font-size: 100%; 
} 
q:before,q:after { 
content:''; 
} 
abbr,acronym { border: 0; 
}

body {
	font: 12px "宋体";
	margin: 5px;
}
a:link, a:visited {
	
	text-decoration: none;
}
ul {
	list-style: none;
}
.box {
	margin: 1em auto;
	width: 460px;
}
br {
	clear: both;
}
/*菜单class*/
.Menubox {
	width: 1004px;
	height: 29px;
	line-height: 29px;
	background-image: url(../images/line2.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.Menubox li {
	float: left;
	display: block;
	cursor: pointer;
	width: 123px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(../images/tabbghover.gif);
	height: 29px;
	margin-right: 4px;
}
.Menubox li.hover {
	width: 123px;
	;
	color: #002955;
	font-weight: bold;
	height: 29px;
	line-height: 27px;
	background-image: url(../images/tabbg.gif);
	background-color: #fff;
	background-repeat: no-repeat;
}




.Menubox2 {
	width: 800px;
	background: url(nav.gif);
	height: 35px;
	line-height: 28px;
}


.Menubox2 li {
	float: left;
	display: block;
	cursor: pointer;
	width: 72px;
	text-align: center;
	color: #044891;
	font-weight: bold;
	height: 35px;
	margin-right: 20px;
}
.Menubox2 li.hover {
	width: 72px;
	;
	color: #044891;
	font-weight: bold;
	height: 35px;
	line-height: 28px;
	background-image: url(../images/hover2.gif);
	background-color: #fff;
	background-repeat: no-repeat;
}







.Contentbox {
	min-height: 530px;
	height: auto;/*IE7*/
	_height: 530px;/*IE6*/
	display: table;/*firefox,opera*/
	width: 1002px;
	clear: both;
	overflow: hidden;
	background-color: #FFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #2a6ca8;
	border-bottom-color: #2a6ca8;
	border-left-color: #2a6ca8;
}
.Contentbox2 {
	height: 462px;
	width: 808px;
	clear: both;
	background-color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.Contentbox3 {
	height: 492px;
	width: 808px;
	clear: both;
	background-color: #FFF;
	padding: 5px;
	
	
	
}
.Contentbox span {
	color: #FFF;
}
TD {
	FONT-SIZE: 12px;
	COLOR: #003366;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px;
	COLOR: #003366;
	FONT-FAMILY: Verdana
}
.siderbar_nav {
	height: 510px;
	width: 150px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	overflow-y: auto;
}
.r_main {
	float: left;
	height: 506px;
	width: 822px;
	background-image: url(../images/rightbg.gif);
	background-repeat: no-repeat;
	zoom: 1;
	padding-top: 14px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.mainMenu {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	cursor: pointer;
	COLOR: #FFFFFF;
	background-image: url(../images/navbg.gif);
	height: 21px;
}
.menuSmall {
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	cursor: pointer;
	COLOR: #FFFFFF;
	background-image: url(../images/navbg2.gif);
	height: 21px;
	background-repeat: no-repeat;
	width: 130px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#con_two_1 {
	height: auto;
	width: 1002px;
}
A.style2:link {
	PADDING-LEFT: 4px;
	COLOR: #0055bb;
	TEXT-DECORATION: none
}
A.style2:visited {
	PADDING-LEFT: 4px;
	COLOR: #0055bb;
	TEXT-DECORATION: none
}
A.style2:hover {
	PADDING-LEFT: 4px;
	COLOR: #ff0000;
	TEXT-DECORATION: none;
}
A.active {
	PADDING-LEFT: 4px;
	COLOR: #ff0000;
	TEXT-DECORATION: none
}
.span {
	COLOR: #ff0000
}
.label_div {
	display: block;
	height: 20px;
}
.srccdt {
	height: 68px;
	background-image: url(../images/line.gif);
	background-repeat: repeat-x;
	float: left;
	width: 100%;
	margin-top: 5px;
}
.srccdt span {
	font-size: 12px;
	color: #000;
	height: 20px;
	line-height: 20px;
}
.srccdt img {
	vertical-align: middle;
}
.chart {
	height: 384px;
	width: 100%;
	float: left;
}
#i_btn {
	background-image: url(../images/btn.gif);
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 12px;
	line-height: 12px;
	font-weight: 800;
	color: #FFFFFF;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#radio {
vertical-align:-2px;}
